<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.provenance.logparser.GJAJDao">
    <resultMap type="com.hxy.provenance.logparser.GJAJEntity" id="caseMap">
        <result property="BMSAH" column="BMSAH"/>
        <result property="TYSAH" column="TYSAH"/>
        <result property="AJMC" column="AJMC"/>
        <result property="CBDW_MC" column="CBDW_MC"/>
        <result property="AJLB_MC" column="AJLB_MC"/>
        <result property="CJSJ" column="CJSJ"/>
        <result property="IS_COMPLETE" column="IS_COMPLETE"/>
    </resultMap>

    <insert id="insertCountFields">
        insert into tb_type_filed_count (case_type,field,count_man) values (#{case_type},#{field},#{count_man})
    </insert>

    <insert id="updateCountFields">
        update tb_type_filed_count set count_man=count_man+#{count} where case_type=#{case_type} and field=#{field}
    </insert>

    <select id="countFields" resultType="map">
        select field,count_man from tb_type_filed_count where case_type = #{case_type} order by count_man desc limit #{size}
    </select>

    <select id="hasField" resultType="Integer">
        select count(count_man) from tb_type_filed_count where case_type = #{case_type} and field=#{field}
    </select>

    <select id="openJob" resultType="Integer">
        select count_man from tb_type_filed_count where case_type = 'JobConfig' and field='JobConfig'
    </select>

    <sql id="Base_Column_List2">
		BMSAH,
		TYSAH,
		AJMC,
		CBDW_MC,
		AJLB_MC,
		CJSJ,
		IS_COMPLETE
    </sql>

    <insert id="save" parameterType="com.hxy.provenance.logparser.GJAJEntity">
        insert into aj_yx_aj
        (
        <include refid="Base_Column_List2"/>
        )
        values
        (
        #{BMSAH},
        #{TYSAH},
        #{AJMC},
        #{CBDW_MC},
        #{AJLB_MC},
        #{CJSJ},
        #{IS_COMPLETE}
        )
    </insert>

    <select id="queryObject" resultType="com.hxy.provenance.logparser.GJAJEntity" resultMap="caseMap">
        select
        <include refid="Base_Column_List2"/>
        from aj_yx_aj
        where BMSAH = #{value}
    </select>
    <select id="queryObject2" resultType="com.hxy.provenance.logparser.GJAJEntity" resultMap="caseMap">
        select
        <include refid="Base_Column_List2"/>
        from aj_yx_aj
        where AJLB_MC = #{value} and IS_COMPLETE=1
    </select>

    <update id="updateComplete">
		update aj_yx_aj set IS_COMPLETE = #{arg0} where BMSAH = #{arg1}
	</update>

    <select id="queryList" resultType="com.hxy.provenance.logparser.GJAJEntity" resultMap="caseMap">
        select
        <include refid="Base_Column_List2"/>
        from aj_yx_aj
    </select>

    <select id="queryTotal" resultType="int">
		select count(*) from aj_yx_aj
	</select>

    <select id="countAJLB" resultType="map">
        select AJLB_MC,count(*) as c from aj_yx_aj GROUP BY AJLB_MC
    </select>

    <select id="queryTotal01" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '刑事检察'
	</select>
    <select id="queryTotal02" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '刑事执行'
	</select>
    <select id="queryTotal03" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '公益诉讼'
	</select>
    <select id="queryTotal04" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '民事'
	</select>
    <select id="queryTotal05" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '行政'
	</select>
    <select id="queryTotal06" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '未检业务'
	</select>
    <select id="queryTotal07" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '控告申诉'
	</select>
    <select id="queryTotal08" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '检委办'
	</select>
    <select id="queryTotal09" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '对台业务'
	</select>
    <select id="queryTotal10" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '案管'
	</select>
    <select id="queryTotal11" resultType="int">
		select count(*) from aj_yx_aj
		where AJLB_MC = '司法协助'
	</select>


</mapper>