<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.provenance.logparser.GJAJDao">
    <resultMap type="com.hxy.provenance.logparser.GJAJEntity" id="caseMap">
        <result property="BMSAH" column="BMSAH"/>
        <result property="TYSAH" column="TYSAH"/>
        <result property="AJMC" column="AJMC"/>

    </resultMap>

    <sql id="Base_Column_List" >
		BMSAH,
		TYSAH,
		AJMC
    </sql>

	<select id="queryObject" resultType="com.hxy.provenance.logparser.GJAJEntity" resultMap="caseMap">
		select
		<include refid="Base_Column_List" />
		from AJ_YX_AJ
		where BMSAH = #{value}
	</select>

	<select id="queryList" resultType="com.hxy.provenance.logparser.GJAJEntity" resultMap="caseMap">
		select
		<include refid="Base_Column_List" />
		from AJ_YX_AJ
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from AJ_YX_AJ
	</select>
	 
	<insert id="save" parameterType="com.hxy.provenance.logparser.GJAJEntity">
		insert into AJ_YX_AJ
		(
			<include refid="Base_Column_List" />
		)
		values
		(
			#{BMSAH},
			#{TYSAH},
			#{AJMC}
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.provenance.logparser.GJAJEntity">
		update AJ_YX_AJ
		<set>
			<if test="TYSAH != null">`TYSAH` = #{TYSAH}, </if>
			<if test="AJMC != null">`AJMC` = #{AJMC}, </if>
		</set>
		where BMSAH = #{BMSAH}
	</update>
	
	<delete id="delete">
		delete from AJ_YX_AJ where AJ_YX_AJ = #{value}
	</delete>

</mapper>