<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.provenance.logparser.GJAJDao">
    <resultMap type="com.hxy.provenance.logparser.GJAJEntity" id="caseMap">
        <result property="BMSAH" column="BMSAH"/>
        <result property="TYSAH" column="TYSAH"/>
        <result property="AJMC" column="AJMC"/>
		<result property="CBDW_MC" column="CBDW_MC"/>
		<result property="AJLB_MC" column="AJLB_MC"/>

    </resultMap>

    <sql id="Base_Column_List" >
		BMSAH,
		TYSAH,
		AJMC,
		CBDW_MC,
		AJLB_MC
    </sql>

	<select id="queryObject" resultType="com.hxy.provenance.logparser.GJAJEntity" resultMap="caseMap">
		select
		<include refid="Base_Column_List" />
		from AJ_YX_AJ
		where BMSAH = #{value}
	</select>

	<select id="queryList" resultType="com.hxy.provenance.logparser.GJAJEntity" resultMap="caseMap">
		select
		<include refid="Base_Column_List" />
		from AJ_YX_AJ
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from AJ_YX_AJ
	</select>


</mapper>