<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.provenance.logparser.GroupListDao">
    <resultMap type="com.hxy.provenance.logparser.GroupListEntity" id="caseMap">
        <result property="group_name" column="group_name"/>
        <result property="group_id" column="group_id"/>
        <result property="member_count" column="member_count"/>
    </resultMap>


    <sql id="Base_Column_List">
		group_name,
		group_id,
		member_count
    </sql>


    <select id="queryObject" resultType="com.hxy.provenance.logparser.GroupListEntity" resultMap="caseMap">
        select
        <include refid="Base_Column_List"/>
        from group_list
    </select>
</mapper>