<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>group</title>

    <link rel="stylesheet" href="styles/dhtmlxgantt.css?v=7.0.11">

    <link rel="stylesheet" href="styles/codemirror.css">
    <link rel="stylesheet" href="styles/codemirror-neo.css">
    <link rel="stylesheet" href="styles/cy2neo.css">

    <link rel="stylesheet" href="styles/datatable.css">
    <link rel="stylesheet" href="styles/vendor.css"> <!-- bootstrap-->
    <link rel="stylesheet" href="styles/sweet-alert.css">
    <link rel="stylesheet" href="styles/gh-fork-ribbon.css">

    <!-- Basic Css files -->
    <link rel="stylesheet" href="styles/metismenu.min.css">
    <link rel="stylesheet" href="styles/neodCss1.css">

    <link rel="stylesheet" href="styles/morris.css">
    <link href="styles/metismenu.min.css" rel="stylesheet">
    <link href="styles/icons.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" >
    <style>
        html, body {
            height: 100%;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
        }

        .project-task .gantt_task_progress_drag,
        .phase-task .gantt_task_progress_drag {
            display: none !important;
        }

        /* hide 'plus' buttons for tasks */
        .regular-task .gantt_add {
            display: none;
        }
        .gantt_task_line.phase-task.gantt_bar_subproject{
            background-color: brown;
        }
        .huadong{
           /* width: 100px;
            height:45px;
            background: url("images/timg.jpg") no-repeat;*/
            border-style: none;
            position: absolute;
            margin-top: 26%;
            z-index: 100;
        }
        .huadong:hover{
            visibility: visible;
        }
        .list-group-item{
            height: 45px;
        }
        .gantt_task_line.project-task.gantt_project{
            display: none;
        }

    </style>
    <style>
        .select_class {
            width                    : 14em;
            height                   : 30px;
            padding                  : 0.2em 0.4em 0.2em 0.4em;
            vertical-align           : middle;
            border                   : 1px solid #94c1e7;
            -moz-border-radius       : 0.2em;
            -webkit-border-radius    : 0.2em;
            border-radius            : 0.2em;
            -webkit-appearance       : none;
            -moz-appearance          : none;
            appearance               : none;
            background               : #ffffff;
            font-family              : SimHei;
            font-size                : 1.1em;
            color                    : RGBA(102,102,102,0.7);
            cursor                   : pointer;
        }
        .select_class option {
            margin-left: 5px;
            padding-left: 5px;
            font-weight: bolder;
        }
        select::-ms-expand { display: none; }
    </style>
</head>

<body>
<div class = "huadong" id = "huadongId">
👉
</div>
<div id="relevantCase" style="text-align:center;margin:0 auto;position: absolute;width:514px" >
    <input class="form-control" type="text" style="width: 240px" id="keySelect" placeholder="关键字查询"/>
    <div>
        <li class="list-group-item" style="height: 45px;"/>
        <span style="float: left;margin-top:-2px;text-align:left;color: orange;font-size:24px"> 时间 </span>

        <span style="float:right;margin-right:200px;margin-top:-2px;color: orange;font-size:24px">环节</span>
       <!-- <span style="float:right;margin-right:-290px;
        margin-top:-2px;color: orange;font-size:24px;" id = "group_select_id">信息筛选</span>-->
    </div>
    <div id = "group_select_data_id" style = "display: none;position: absolute;
    width:360px;height: 220px;z-index: 101;background-color: #e9e1d3;margin-top:-40px">
        <label id="userNameLabel"
               style="margin-top:26px;position: absolute;margin-left:-160px">办案人姓名</label>
        <div class="col-lg-6" style="width:260px ;margin-left: 90px;float: left;margin-top:20px;">
            <input type="text" class="form-control" id="group_user_name" placeholder=""
                   style=" margin-left:13px">
        </div>
        <div class="col-lg-6" style="width:260px ;margin-left:90px;margin-top:20px;">
            <label id="timeStartNameLabel"
                   style="margin-top: 6px;position: absolute;margin-left:-190px">起始时间</label>
            <input type="date" class="form-control" id="group_start_time" placeholder="请输入起始时间"
                   style="margin-left:13px;">
        </div><!-- /input-group -->
        <!--    <p style="color:#939282;margin-top: 42px;position: absolute;margin-left: 507px;"> 至 </p>-->
        <div class="col-lg-6" style="width:260px;margin-left: 90px;margin-top:20px;">
            <label id="timeEndNameLabel"
                   style="margin-top: 6px;position: absolute;margin-left: -190px">截止时间</label>
            <input type="date" class="form-control" id="group_end_time" placeholder="请输入截至时间"
                   style=" margin-left:13px;">
        </div>
        <button onclick="group_select()" style="float:right;margin-top:10px;margin-right: 12px">确定</button>
    </div>
    <nav aria-label="Page navigation">
        <div id="pageData">
            <ul class="list-group" id="caseList">

            </ul>
        </div>
    </nav>
    <div class="page">
        <div id="page">

        </div>
    </div>
</div>
<div class="col-xl-9" style="width:514px;position:absolute;margin-top: 340px">
    <div class="card" style = "width:514px;height: 400px;margin-top:10px">
        <div class="card-body">
            <h4 class="mt-0 header-title mb-5" style = "display: inline">办案人处理案件排名</h4>
            <div class="checkbox" style = "display: inline">
                <select class = "select_class" id = "jiean_time_id">
                    <option>查看本周内统计信息</option>
                    <option>查看本月内统计信息</option>
                    <option>查看本季度内统计信息</option>
                    <option>查看本年内统计信息</option>
                    <option>查看所有统计信息</option>
                </select>
            </div>
            <div id="morris-bar-stacked" class="morris-chart-height morris-charts"></div>
        </div>
    </div>
</div>
<div class="col-xl-9" style="width:514px;position:absolute;margin-left: 600px">
    <div class="card" style = "width:514px;height: 400px;margin-top:10px">
        <div class="card-body">
            <h4 class="mt-0 header-title mb-5" style = "display: inline">办案人文书处理数量</h4>
            <div class="checkbox" style = "display: inline">
                <select class = "select_class" id = "chuli_wenshu_id">
                    <option>查看本周内统计信息</option>
                    <option>查看本月内统计信息</option>
                    <option>查看本季度内统计信息</option>
                    <option>查看本年内统计信息</option>
                    <option>查看所有统计信息</option>
                </select>
            </div>
            <div id="morris-bar-stacked2" class="morris-chart-height morris-charts"></div>
        </div>
    </div>
</div>
<div class="col-xl-9" style="width:514px;position:absolute;margin-top: 340px;margin-left:600px">
    <div class="card" style = "width:514px;height: 400px;margin-top:10px">
        <div class="card-body">
            <h4 class="mt-0 header-title mb-5" style = "display: inline">办案人处理环节个数</h4>
            <div class="checkbox" style = "display: inline">
                <select class = "select_class" id = "chuli_huanjie_id">
                    <option>查看本周内统计信息</option>
                    <option>查看本月内统计信息</option>
                    <option>查看本季度内统计信息</option>
                    <option>查看本年内统计信息</option>
                    <option>查看所有统计信息</option>
                </select>
            </div>
            <div id="morris-bar-stacked3" class="morris-chart-height morris-charts"></div>
        </div>
    </div>
</div>
<div id="gantt_here" style='width:100%; height:700px;float:right;display:none'></div>
<script src="scripts/dhtmlxgantt.js?v=7.0.11"></script>
<script src="scripts/testdata.js?v=7.0.11"></script>
<script src="scripts/jquery.min.js"></script>

<script src="http://localhost:8083/hxyActiviti/scripts/jquery.min.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/bootstrap.bundle.min.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/modernizr.min.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/metisMenu.min.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/jquery.slimscroll.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/waves.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/jquery.peity.min.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/neo4d3.js"></script>

<script src="scripts/morris.min.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/raphael-min.js"></script>
<script src="scripts/dashboard.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/app.js"></script>
<script>
    gantt.config.open_tree_initially = true;
    gantt.config.scale_height = 50;

    gantt.config.scales = [
        {unit: "month", step: 1, format: "%F, %Y" },
        {unit: "day", step: 1, format: "%j"}
    ];
    gantt.config.types.root = "project-task";
    gantt.config.types.subproject = "subproject";
    gantt.config.lightbox.subproject_sections = gantt.config.lightbox.sections;
    gantt.config.lightbox.project_sections = [
        {name: "description", height: 70, map_to: "text", type: "textarea", focus: true},
        {name: "time", type: "duration", map_to: "auto", readonly: true}
    ];
    dataSet = [
        {id: 1426170055699, start_date: "02-01-2019 00:00", text: "姓名 :张远帆", duration: 7, type: "project", parent: 0},
        {id: 1426170055704, start_date: "03-01-2019 00:00", text: "案件 :张某三故意杀人案", duration: 8, parent: "1426170055699", type: "subproject"},
        {id: 1426170055707, start_date: "04-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055704", type: "task"},
        {id: 1426170055710, start_date: "06-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055704", type: "task"},
        {id: 1426170055711, start_date: "10-01-2019 00:00", text: " 统一受案号", duration: 1, parent: "1426170055704", type: "task"},
        {id: 1426170055712, start_date: "02-01-2019 00:00", text: "案件 :李某兵生产有毒食品案", duration: 6, parent: "1426170055699", type: "subproject"},
        {id: 1426170055715, start_date: "03-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055712", type: "task", progress: 0},
        {id: 1426170055718, start_date: "07-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055712", type: "task"},
        {id: 1426170055702, start_date: "02-01-2019 00:00", text: "姓名 :陈川俊", duration: 1, type: "project", end_date: "17-01-2019 00:00", parent: 0},
        {id: 1426170055719, start_date: "02-01-2019 00:00", text: "案件 :罗某盗窃案", duration: 11, parent: "1426170055702", type: "subproject"},
        {id: 1426170055722, start_date: "02-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055719", type: "task"},
        {id: 1426170055725, start_date: "06-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055719", type: "task"},
        {id: 1426170055726, start_date: "12-01-2019 00:00", text: " 补充人编号", duration: 1, parent: "1426170055719", type: "task"},
        {id: 1426170055703, start_date: "08-01-2019 00:00", text: "姓名 :李驭龙", duration: 1, type: "project", parent: 0},
        {id: 1426170055727, start_date: "08-01-2019 00:00", text: "案件 :田某易抢劫案", duration: 1, parent: "1426170055703", type: "subproject"},
        {id: 1426170055601, start_date: "02-01-2019 00:00", text: "姓名 :贺甲", duration: 9, type: "project", parent: 0},
        {id: 1426170055787, start_date: "03-01-2019 00:00", text: "案件 :交通案件", duration: 5, parent: "1426170055601", type: "subproject"},
        {id: 1426170055001, start_date: "03-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055787", type: "task", progress: 0},
        {id: 1426170055002, start_date: "07-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055787", type: "task"},
        {id: 1426170055688, start_date: "02-01-2019 00:00", text: "姓名 :杨春露", duration: 9, type: "project", parent: 0},
        {id: 1426170055750, start_date: "03-01-2019 00:00", text: "案件 :罗某盗窃案", duration: 5, parent: "1426170055688", type: "subproject"},
        {id: 1426170055004, start_date: "03-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055750", type: "task", progress: 0},
        {id: 1426170055005, start_date: "07-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055750", type: "task"},
        {id: 1426170055602, start_date: "02-01-2019 00:00", text: "姓名 :黄彦赫", duration: 9, type: "project", parent: 0},
        {id: 1426170055751, start_date: "03-01-2019 00:00", text: "案件 :罗某盗窃案", duration: 5, parent: "1426170055602", type: "subproject"},
        {id: 1426170055006, start_date: "03-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055751", type: "task", progress: 0},
        {id: 1426170055007, start_date: "07-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055751", type: "task"},
        {id: 1426170055603, start_date: "02-01-2019 00:00", text: "姓名 :王太将", duration: 9, type: "project", parent: 0},
        {id: 1426170055752, start_date: "03-01-2019 00:00", text: "案件 :田某易抢劫案", duration: 5, parent: "1426170055603", type: "subproject"},
        {id: 1426170055008, start_date: "03-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055752", type: "task", progress: 0},
        {id: 1426170055009, start_date: "07-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055752", type: "task"},
    ]
    function gante(dataSet){
        // set initial values based on task type
        function defaultValues(task) {
            var text = "",
                index = gantt.getChildren(task.parent || gantt.config.root_id).length + 1,
                types = gantt.config.types;

            switch (task.type) {
                case types.project:
                    text = "姓名";
                    break;
                case types.subproject:
                    text = '案件';
                    break;
                default:
                    text = ' ';
                    break;
            }
            task.text = text + " #" + index;
            return;
        }

        gantt.attachEvent("onTaskCreated", function (task) {
            var parent = task.parent,
                types = gantt.config.types,
                level = 0;

            if (parent == gantt.config.root_id || !parent) {
                level = 0;
            } else {
                level = gantt.getTask(task.parent).$level + 1;
            }
//assign task type based on task level
            switch (level) {
                case 0:
                    task.type = types.project;
                    break;
                case 1:
                    task.type = types.subproject;
                    break;
                default:
                    task.type = types.task;
                    break;
            }

            defaultValues(task);
            return true;
        });


        //css template for each task type
        gantt.templates.task_class = gantt.templates.grid_row_class = function (start, end, task) {
            switch (task.type) {
                case gantt.config.types.project:
                    return 'project-task';
                    break;
                case gantt.config.types.subproject:
                    return 'phase-task';
                    break;
                default:
                    return 'regular-task';
                    break;
            }
        };

        gantt.init("gantt_here");
        console.log(dataSet)
        gantt.parse({
            data: dataSet, links: []
        });

    }
    gante(dataSet)
</script>
<script>
over_flag = 0;
document.getElementById("huadongId").onclick = function() {
    gant = document.getElementById("gantt_here")
    if(gant.style.display == "none"){
        gant.style.display = "block";
    }
    else if(gant.style.display == "block"){
        gant.style.display = "none";
    }
}
</script>
<script>
    var connection = function () {
        configStr = localStorage.getItem("neoconfig");
        configJSON = JSON.parse(configStr)
        // console.log(configJSON.NEO_SERVER_URL, configJSON.NEO_SERVER_USER, configJSON.NEO_SERVER_PSW)
        config = {
            url: "http://" + configJSON.NEO_SERVER_URL + ":7474",
            user: configJSON.NEO_SERVER_USER,
            pass: configJSON.NEO_SERVER_PSW
        };
        return config;
    }
    function jiema2() {
        console.log(window.location.href)
        var index_1 = window.location.href.indexOf("=");
        str_1 = window.location.href.substring(index_1 + 1);
        return decodeURI(str_1)
    }
    //查询检察官最近操作
    function executeNode() {
       var neo = new Neo(connection);
        try {
            var query = "MATCH (m:Task)-[]-(n:USER) WHERE n.name = '" + jiema2() + "' RETURN m";
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                var graph = res.graph;
                if(graph.nodes){
                    var str = "";
                    //"<button style=\"margin-left: 6px;float: right;margin-top:-6px\" type=\"button\" class=\"btn btn-primary\" onclick=\"lineageSelect1(\'" + "张远帆" + "\')\">" + "" + "</button> "
                    for(var i = 0;i < graph.nodes.length;i++){
                        str += "<li class=\"list-group-item\" style=\"height: 45px;\"><span style=\"float: left;margin-top:-2px;text-align:left;\">" + graph.nodes[i]["创建时间"].substring(0,11) + "</span> "
                            + "<span style=\"float:right;margin-right:110px;margin-top:-2px\">" + graph.nodes[i]["name"] + "</span>";
                    }
                    document.getElementById("caseList").innerHTML += str;
                    var zz = getzz();
                    change(1, zz);
                }
            });
        } catch (e) {
        }

    }
    function getzz() {
        var a = $("ul#caseList li");
        var zz = new Array(a.length);
        for (var i = 0; i < a.length; i++) {
            zz[i] = a[i].innerHTML;
        }
        return zz;
    }

    var pageno = 1;
    var gg;

    function change(e, zz) {
        //console.log("zz is" + zz);
        gg = zz;
        pageno = e;
        var pagesize = 5; //每页多少条信息
        if (zz.length % pagesize == 0) {
            var pageall = zz.length / pagesize;
        } else {
            var pageall = parseInt(zz.length / pagesize) + 1;
        }
        if (e < 1) {
            e = 1;
            pageno = 1;
        }
        if (e > pageall) {
            e = pageall;
            pageno = pageall;
        }
        $("#caseList").html("");
        console.log("html is" + $("#caseList").html(""));
        var html = "";
        for (var i = 0; i < pagesize; i++) {
            if (zz[(e - 1) * pagesize + i] == null) zz[(e - 1) * pagesize + i] = "<span style=\"color:white\">空白</span>";
            html += '<li class=\"list-group-item\">' + zz[(e - 1) * pagesize + i] + '</li>';
        }
        $("ul#caseList").html(html);
        var ye = "";
        for (var j = 1; j <= pageall; j++) {
            if (e == j) {
                ye = ye + "<span><button onClick='change(" + j + ",gg)' style='color:#FF0000'>" + j + "</button></span> "
            } else {
                ye = ye + "<button onClick='change(" + j + ",gg)'>" + j + "</button> "
            }
        }
        var pageContent = "";
        pageContent += '第<span id=\"a2\">' + pageno + '</span>/';
        pageContent += '<span id="a1">' + pageall + '</span>页';
        pageContent += '<span id="a3">' + ye + '</span>';
        pageContent += '<button  onClick="change(--pageno,gg)">上一页</button>';
        pageContent += '<button onClick="change(++pageno,gg)">下一页</button>';
        $("#page").html(pageContent);
    }

    monitorClick();

    function monitorClick() {
        executeNode();

    }
    function group_select() {
        document.getElementById("group_select_data_id").style.display = "none";
        dataSet = [
            {id: 1426170055699, start_date: "02-01-2019 00:00", text: "姓名 :张远帆", duration: 7, type: "project", parent: 0},
            {id: 1426170055704, start_date: "03-01-2019 00:00", text: "案件 :张某三故意杀人案", duration: 8, parent: "1426170055699", type: "subproject"},
            {id: 1426170055707, start_date: "04-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055704", type: "task"},
            {id: 1426170055710, start_date: "06-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055704", type: "task"},
            {id: 1426170055711, start_date: "10-01-2019 00:00", text: " 统一受案号", duration: 1, parent: "1426170055704", type: "task"},
            {id: 1426170055712, start_date: "02-01-2019 00:00", text: "案件 :李某兵生产有毒食品案", duration: 6, parent: "1426170055699", type: "subproject"},
            {id: 1426170055715, start_date: "03-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055712", type: "task", progress: 0},
            {id: 1426170055718, start_date: "07-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055712", type: "task"},
            {id: 1426170055702, start_date: "02-01-2019 00:00", text: "姓名 :陈川俊", duration: 4, type: "project", end_date: "17-01-2019 00:00", parent: 0},
            {id: 1426170055719, start_date: "02-01-2019 00:00", text: "案件 :罗某盗窃案", duration: 3, parent: "1426170055702", type: "subproject"},
            {id: 1426170055722, start_date: "02-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055719", type: "task"},
            {id: 1426170055725, start_date: "06-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055719", type: "task"},
            {id: 1426170055726, start_date: "12-01-2019 00:00", text: " 补充人编号", duration: 1, parent: "1426170055719", type: "task"},
            {id: 1426170055703, start_date: "08-01-2019 00:00", text: "姓名 :李驭龙", duration: 1, type: "project", parent: 0},
            {id: 1426170055727, start_date: "08-01-2019 00:00", text: "案件 :田某易抢劫案", duration: 1, parent: "1426170055703", type: "subproject"},
            {id: 1426170055601, start_date: "02-01-2019 00:00", text: "姓名 :贺甲", duration: 3, type: "project", parent: 0},
            {id: 1426170055787, start_date: "03-01-2019 00:00", text: "案件 :交通案件", duration: 2, parent: "1426170055601", type: "subproject"},
            {id: 1426170055001, start_date: "03-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055787", type: "task", progress: 0},
            {id: 1426170055002, start_date: "07-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055787", type: "task"},
            {id: 1426170055688, start_date: "02-01-2019 00:00", text: "姓名 :杨春露", duration: 3, type: "project", parent: 0},
            {id: 1426170055750, start_date: "03-01-2019 00:00", text: "案件 :罗某盗窃案", duration: 2, parent: "1426170055688", type: "subproject"},
            {id: 1426170055004, start_date: "03-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055750", type: "task", progress: 0},
            {id: 1426170055005, start_date: "07-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055750", type: "task"},
            {id: 1426170055602, start_date: "02-01-2019 00:00", text: "姓名 :黄彦赫", duration: 3, type: "project", parent: 0},
            {id: 1426170055751, start_date: "03-01-2019 00:00", text: "案件 :罗某盗窃案", duration: 2, parent: "1426170055602", type: "subproject"},
            {id: 1426170055006, start_date: "03-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055751", type: "task", progress: 0},
            {id: 1426170055007, start_date: "07-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055751", type: "task"},
            {id: 1426170055603, start_date: "02-01-2019 00:00", text: "姓名 :王太将", duration: 3, type: "project", parent: 0},
            {id: 1426170055752, start_date: "03-01-2019 00:00", text: "案件 :田某易抢劫案", duration: 2, parent: "1426170055603", type: "subproject"},
            {id: 1426170055008, start_date: "03-01-2019 00:00", text: " 案情摘要", duration: 1, parent: "1426170055752", type: "task", progress: 0},
            {id: 1426170055009, start_date: "07-01-2019 00:00", text: " 附注", duration: 1, parent: "1426170055752", type: "task"},
        ]
        var count = 0;
        for(data in dataSet){
            if(dataSet[data]['text'] == "姓名 :"+$("#group_user_name").val()){
                count = dataSet[data]['duration']
            }
        }
        var dataCopy = [];

        for(data in dataSet){
            if(dataSet[data]['text'] == "姓名 :"+$("#group_user_name").val()){
                dataCopy.push(dataSet[data]);
                data = Number(data)
                for(i = data + 1; i <= count + data; i++) {
                    dataCopy.push(dataSet[i]);
                }
                break;
            }
        }
        console.log(dataCopy)
        gantt.clearAll();
        gante(dataCopy)
    }
</script>
<script>
    window.onload = function(){
        bar1();
        bar2();
        bar3();
    }
    function bar1(){
        !function ($) {
            "use strict";

            var Dashboard = function () {
            };

            //creates Stacked chart
            Dashboard.prototype.createStackedChart  = function(element, data, xkey, ykeys, labels, lineColors) {
                Morris.Bar({
                    element: element,
                    data: data,
                    xkey: xkey,
                    ykeys: ykeys,
                    stacked: true,
                    labels: labels,
                    hideHover: 'auto',
                    resize: true, //defaulted to true
                    gridLineColor: '#eeeeee',
                    barColors: lineColors,
                    labelTop:true,
                    barRatio: 0.4,
                    xLabelAngle: 35,
                });
            },
                // pie
                $('.peity-pie').each(function () {
                    $(this).peity("pie", $(this).data());
                });

            //donut
            $('.peity-donut').each(function () {
                $(this).peity("donut", $(this).data());
            });

            // line
            $('.peity-line').each(function () {
                $(this).peity("line", $(this).data());
            });


            Dashboard.prototype.init = function () {
                var $stckedData  = [
                    { y: '张远帆', a: 300},
                    { y: '陈川俊', a: 170},
                    { y: '李驭龙', a: 75},
                    { y: '王太将', a: 60},
                    { y: '杨春露', a: 60 },
                    { y: '黄彦赫', a: 55},
                    { y: '贺甲', a: 50}
                ];
                this.createStackedChart('morris-bar-stacked', $stckedData, 'y', ['a'], ['案卡项数量'], ['#1699dd']);
            },
                //init
                $.Dashboard = new Dashboard, $.Dashboard.Constructor = Dashboard
        }(window.jQuery),

//initializing
            function ($) {
                "use strict";
                $.Dashboard.init();
            }(window.jQuery);
    }
    function bar2(){
        !function ($) {
            "use strict";

            var Dashboard = function () {
            };

            //creates Stacked chart
            Dashboard.prototype.createStackedChart  = function(element, data, xkey, ykeys, labels, lineColors) {
                Morris.Bar({
                    element: element,
                    data: data,
                    xkey: xkey,
                    ykeys: ykeys,
                    stacked: true,
                    labels: labels,
                    hideHover: 'auto',
                    resize: true, //defaulted to true
                    gridLineColor: '#eeeeee',
                    barColors: lineColors,
                    labelTop:true,
                    barRatio: 0.4,
                    xLabelAngle: 35,
                });
            },
                // pie
                $('.peity-pie').each(function () {
                    $(this).peity("pie", $(this).data());
                });

            //donut
            $('.peity-donut').each(function () {
                $(this).peity("donut", $(this).data());
            });

            // line
            $('.peity-line').each(function () {
                $(this).peity("line", $(this).data());
            });


            Dashboard.prototype.init = function () {
                var $stckedData  = [
                    { y: '张远帆',c: 100 },
                    { y: '陈川俊',c: 56 },
                    { y: '李驭龙',c: 120 },
                    { y: '王太将',c: 100 },
                    { y: '杨春露',c: 85 },
                    { y: '黄彦赫', c: 52 },
                    { y: '贺甲', c: 77 }
                ];
                this.createStackedChart('morris-bar-stacked2', $stckedData, 'y', ['c'], ['处理文书的数量'], ['#f28515']);
            },
                //init
                $.Dashboard = new Dashboard, $.Dashboard.Constructor = Dashboard
        }(window.jQuery),

//initializing
            function ($) {
                "use strict";
                $.Dashboard.init();
            }(window.jQuery);
    }
    function bar3(){
        !function ($) {
            "use strict";

            var Dashboard = function () {
            };

            //creates Stacked chart
            Dashboard.prototype.createStackedChart  = function(element, data, xkey, ykeys, labels, lineColors) {
                Morris.Bar({
                    element: element,
                    data: data,
                    xkey: xkey,
                    ykeys: ykeys,
                    stacked: true,
                    labels: labels,
                    hideHover: 'auto',
                    resize: true, //defaulted to true
                    gridLineColor: '#eeeeee',
                    barColors: lineColors,
                    labelTop:true,
                    barRatio: 0.4,
                    xLabelAngle: 35,
                });
            },
                // pie
                $('.peity-pie').each(function () {
                    $(this).peity("pie", $(this).data());
                });

            //donut
            $('.peity-donut').each(function () {
                $(this).peity("donut", $(this).data());
            });

            // line
            $('.peity-line').each(function () {
                $(this).peity("line", $(this).data());
            });


            Dashboard.prototype.init = function () {
                var $stckedData  = [
                    { y: '张远帆', b: 180},
                    { y: '陈川俊', b: 90},
                    { y: '李驭龙', b: 85},
                    { y: '王太将', b: 90},
                    { y: '杨春露',  b: 50},
                    { y: '黄彦赫',b: 65},
                    { y: '贺甲', b: 40 }
                ];
                this.createStackedChart('morris-bar-stacked3', $stckedData, 'y', ['b'], ['环节个数'], ['#655be6']);
            },
                //init
                $.Dashboard = new Dashboard, $.Dashboard.Constructor = Dashboard
        }(window.jQuery),

//initializing
            function ($) {
                "use strict";
                $.Dashboard.init();
            }(window.jQuery);
    }
</script>
<script>
    function lineageSelect1(name_str){
        window.location.href="http://localhost:8083/hxyActiviti/neoBan.html?name="+encodeURI(name_str);
    }
</script>
</body>