<html>
<head>
    <title>检察</title>
    <link rel="stylesheet" href="styles/codemirror.css">
    <link rel="stylesheet" href="styles/codemirror-neo.css">
    <link rel="stylesheet" href="styles/cy2neo.css">

    <link rel="stylesheet" href="styles/datatable.css">
    <link rel="stylesheet" href="styles/vendor.css"> <!-- bootstrap-->
    <link rel="stylesheet" href="styles/sweet-alert.css">
    <link rel="stylesheet" href="styles/gh-fork-ribbon.css">

    <!-- Basic Css files -->
    <link rel="stylesheet" href="styles/metismenu.min.css">
    <link rel="stylesheet" href="styles/neodCss1.css">

    <link rel="stylesheet" href="styles/morris.css">
    <link href="styles/metismenu.min.css" rel="stylesheet">
    <link href="styles/icons.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" >
    <style>
        .list-group-item{
            height: 48px;
        }
    </style>
    <style>
        .select_class {
            width                    : 14em;
            height                   : 30px;
            padding                  : 0.2em 0.4em 0.2em 0.4em;
            vertical-align           : middle;
            border                   : 1px solid #94c1e7;
            -moz-border-radius       : 0.2em;
            -webkit-border-radius    : 0.2em;
            border-radius            : 0.2em;
            -webkit-appearance       : none;
            -moz-appearance          : none;
            appearance               : none;
            background               : #ffffff;
            font-family              : SimHei;
            font-size                : 1.1em;
            color                    : RGBA(102,102,102,0.7);
            cursor                   : pointer;
        }
        .select_class option {
            margin-left: 5px;
            padding-left: 5px;
            font-weight: bolder;
        }
        select::-ms-expand { display: none; }
    </style>
</head>
<body>
<div>

    <nav aria-label="Page navigation">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="javascript:;" onclick="monitorClick()" id="xieshijiancha_a">检察官信息列表</a></li>
        </ul>
    </nav>

    <div id="relevantCase" style="visibility : hidden;text-align:center;margin:0 auto">
        <input class="form-control" type="text" style="width: 240px" id="keySelect" placeholder="关键字查询"/>

        <nav aria-label="Page navigation">
            <div id="pageData">
                <ul class="list-group" id="caseList">

                </ul>
            </div>
        </nav>
        <div class="page">
            <div id="page">

            </div>
        </div>
    </div>

</div>

<div style="border-top: 8px solid lightgray; margin-top: 5px;">

    <div class="col-xl-9" style = "display:inline-block">
        <div class="card" style = "width:580px;height: 400px">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-5" style = "display: inline">检察官办结案件数</h4>
                <div class="checkbox" style = "display: inline">
                    <select class = "select_class" id = "banan_time_id">
                        <option>查看本周内统计信息</option>
                        <option>查看本月内统计信息</option>
                        <option>查看本季度内统计信息</option>
                        <option>查看本年内统计信息</option>
                        <option>查看所有统计信息</option>
                    </select>
                </div>
                <div id="morris-bar-stacked1" class="morris-chart-height morris-charts"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-9" style = "display:inline-block">
        <div class="card" style = "width:580px;height: 400px">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-5" style = "display: inline">检察官办结案件耗时（平均/小时）</h4>
                <div class="checkbox" style = "display: inline">
                    <select class = "select_class" id = "jiean_time_id">
                        <option>查看本周内统计信息</option>
                        <option>查看本月内统计信息</option>
                        <option>查看本季度内统计信息</option>
                        <option>查看本年内统计信息</option>
                        <option>查看所有统计信息</option>
                    </select>
                </div>
                <div id="morris-bar-stacked2" class="morris-chart-height morris-charts"></div>
            </div>
        </div>
    </div>

    <div id="colorfulPulse" style="position: fixed;margin-top: 130px;margin-left:300px">
        <span class="item-1"></span>
        <span class="item-2"></span>
        <span class="item-3"></span>
        <span class="item-4"></span>
        <span class="item-5"></span>
        <span class="item-6"></span>
        <span class="item-7"></span>
    </div>
</div>


<script src="scripts/d3.v4.js"></script>
<script src="scripts/codemirror.js"></script>
<script src="scripts/codemirror-cypher.js"></script>
<script src="scripts/vendor.js"></script>
<script src="scripts/sweet.js"></script>
<script src="scripts/neod3.js"></script>
<script src="scripts/neod3-visualization.js"></script>
<script src="scripts/neo4d3.js"></script>
<script src="scripts/cy2neod3.js"></script>
<script src="scripts/jquery.dataTables.min.js"></script>
<script src="scripts/cypher.datatable.js"></script>
<script src="scripts/jianchaJs.js">
<script src="http://localhost:8083/hxyActiviti/scripts/bootstrap.bundle.min.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/modernizr.min.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/metisMenu.min.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/jquery.slimscroll.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/waves.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/jquery.peity.min.js"></script>
<script src="scripts/morris.min.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/raphael-min.js"></script>
<script src="scripts/dashboard.js"></script>
<script src="http://localhost:8083/hxyActiviti/scripts/app.js"></script>

<script type="text/javascript">

</script>


<script type="text/javascript">
    $("#keySelect").bind('keypress', function (event) {
        var strSelect = this.value;
        if (event.keyCode == "13") {
            var listItems = $('.list-group-item');
            var listLength = listItems.length;
            for (i = 0; i < listLength; i++) {
                if (listItems[i].textContent.includes(this.value)) {
                    listItems[i].style.backgroundColor = "orange"
                } else {
                    listItems[i].style.backgroundColor = "white"
                }
            }
        }
    });
</script>
<script>
    window.onload = function(){
        var neo = new Neo(connection);
        var name_list = [];
        var count_list = [];
        try {
            var query = "MATCH (n:operator) WHERE n.operator<> \"\" AND n.operator<> \"null\"  RETURN DISTINCT n.operator";
            neo.executeQuery(query, {}, function (err, res) {
                if (res.table) {
                    for (index in res.table) {
                        var group_id = res.table[index]["n.operator"];
                        name_list.push(group_id);
                        try{
                            var query2 = "MATCH (m:Task)-[]-(n:USER) WHERE n.name ='" + group_id +"' RETURN DISTINCT COUNT(m.caseId)";
                            console.log(query2);
                            neo.executeQuery(query2, {}, function (err, res) {
                                if(res){
                                   count_list.push(res.table[0]["COUNT(m.caseId)"]);
                                }
                            });
                        }catch (e) {
                        }
                    }

                    setTimeout(function(){
                        !function ($) {
                            "use strict1";

                            var Dashboard = function () {
                            };

                            //creates Stacked chart
                            Dashboard.prototype.createStackedChart  = function(element, data, xkey, ykeys, labels, lineColors) {
                                Morris.Bar({
                                    element: element,
                                    data: data,
                                    xkey: xkey,
                                    ykeys: ykeys,
                                    stacked: true,
                                    labels: labels,
                                    hideHover: 'auto',
                                    resize: true, //defaulted to true
                                    gridLineColor: '#eeeeee',
                                    barColors: lineColors,
                                    labelTop:true,
                                    barRatio: 0.4,
                                    xLabelAngle: 35,
                                });
                            },
                                // pie
                                $('.peity-pie').each(function () {
                                    $(this).peity("pie", $(this).data());
                                });

                            //donut
                            $('.peity-donut').each(function () {
                                $(this).peity("donut", $(this).data());
                            });

                            // line
                            $('.peity-line').each(function () {
                                $(this).peity("line", $(this).data());
                            });

                            for(var m = 0;m < name_list.length;m++){
                                for(var n = m;n < name_list.length;n++){
                                    if(count_list[m] < count_list[n]){
                                        var temp_count = count_list[m];
                                        var temp_name = name_list[m];
                                        count_list[m] = count_list[n];
                                        count_list[n] = temp_count;
                                        name_list[m] = name_list[n];
                                        name_list[n] = temp_name;
                                    }
                                }
                            }
                            Dashboard.prototype.init = function () {
                                var $stckedData  = [
                                ];
                                if(name_list.length < 11) {
                                    for(var i = 0;i < name_list.length;i++){
                                        $stckedData.push({
                                            y: name_list[i],
                                            a: count_list[i]
                                        })
                                    }
                                }
                                if(name_list.length >= 11){
                                    for(var i = 0;i <= 10;i++){
                                        $stckedData.push({
                                            y: name_list[i],
                                            a: count_list[i]
                                        })
                                    }
                                }
                                this.createStackedChart('morris-bar-stacked1', $stckedData, 'y', ['a'], ['案件数'], ['#1699dd']);
                            },
                                //init
                                $.Dashboard = new Dashboard, $.Dashboard.Constructor = Dashboard
                        }(window.jQuery),

                            function ($) {
                                "use strict1";
                                $.Dashboard.init();
                            }(window.jQuery);
                    },500)

                }
            });
        } catch (e) {
        }
    }
</script>
<script>
    !function ($) {
        "use strict2";

        var Dashboard = function () {
        };

        //creates Stacked chart
        Dashboard.prototype.createStackedChart  = function(element, data, xkey, ykeys, labels, lineColors) {
            Morris.Bar({
                element: element,
                data: data,
                xkey: xkey,
                ykeys: ykeys,
                stacked: true,
                labels: labels,
                hideHover: 'auto',
                resize: true, //defaulted to true
                gridLineColor: '#eeeeee',
                barColors: lineColors,
                labelTop:true,
                barRatio: 0.4,
                xLabelAngle: 35,
            });
        },
            // pie
            $('.peity-pie').each(function () {
                $(this).peity("pie", $(this).data());
            });

        //donut
        $('.peity-donut').each(function () {
            $(this).peity("donut", $(this).data());
        });

        // line
        $('.peity-line').each(function () {
            $(this).peity("line", $(this).data());
        });


        Dashboard.prototype.init = function () {

            var $stckedData  = [
                { y: '刑事检察团队', a: 8.00},
                { y: '刑事执行团队', a: 7.05},
                { y: '公益诉讼团队', a: 4.70},
                { y: '民事团队', a: 3.75},
                { y: '行政团队', a: 2.90},
                { y: '未检业务团队', a: 2.75},
                { y: '控告申诉团队', a: 1.60},
                { y: '检委办团队', a: 1.55},
                { y: '对台业务团队', a: 1.50},
                { y: '案管团队', a: 0.45},
                { y: '司法协助', a: 0.30}
            ];
            this.createStackedChart('morris-bar-stacked2', $stckedData, 'y', ['a'], ['耗时'], ['#8603FF']);
        },
            //init
            $.Dashboard = new Dashboard, $.Dashboard.Constructor = Dashboard
    }(window.jQuery),

//initializing
        function ($) {
            "use strict2";
            $.Dashboard.init();
        }(window.jQuery);

</script>
</body>
</html>
