<html>
<head>
    <link rel="stylesheet" href="${rc.contextPath}/styles/codemirror.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/codemirror-neo.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/cy2neo.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/neod3.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/datatable.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/vendor.css"> <!-- bootstrap-->
    <link rel="stylesheet" href="${rc.contextPath}/styles/sweet-alert.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/gh-fork-ribbon.css">
    <title>Cy2NeoD3 - Tiny Neo4j Cypher Workbench</title>
</head>
<body>
<!--<div>-->
<!--&lt;!&ndash;<input class="form-control" type="url" value="http://127.0.0.1:7474" id="neo4jUrl"/><br/>&ndash;&gt;-->
<!--&lt;!&ndash;<input class="form-control" type="text" size="8" value="neo4j" id="neo4jUser"/>&ndash;&gt;-->
<!--&lt;!&ndash;<input class="form-control" type="password" size="8" placeholder="password" value="test" id="neo4jPass"/><br/>&ndash;&gt;-->
<!--<textarea name="cypher" id="cypher" rows="4" cols="120" data-lang="cypher" class="code form-control">-->
<!--MATCH (n)-[r]->(m)-->
<!--RETURN n,r,m-->
<!--</textarea>-->
<!--<a href="#" title="Execute" id="execute"><i class="fa fa-play-circle-o"></i></a>-->
<!--</div>-->

<div>

    <div style="margin-top: 6px" class="col-lg-12">
        <div class="input-group">
            <input class="form-control" type="text" style="width: 360px" id="caseName" placeholder="输入内容"/>
            <button style="margin-left: 6px" type="button" class="btn btn-primary" onclick="findCase()">查找案件
            </button>
        </div><!-- /input-group -->
    </div>

    <div style="margin-top: 6px" class="col-lg-12">
        <div class="input-group">
            <input class="form-control" type="text" style="width: 360px" id="caseCategory" placeholder="案件类别"/>
            <button style="margin-left: 6px" type="button" class="btn btn-primary" onclick="filterCaseByCategory()">
                筛选案件
            </button>
        </div>
    </div>

    <div style="margin-top: 6px" class="col-lg-12">
        <div class="input-group">
            <input class="form-control" type="text" style="width: 360px" id="caseId" placeholder="部门受案号"/>
            <input class="form-control" type="text" style="width: 120px" id="nodeCount" placeholder="显示节点数量"/>
            <div style="margin-left: 6px" class="btn-group">
                <button type="button" class="btn btn-primary" id="inference" onclick="filterCaseByBMSAH()">查找案件</button>
                <button type="button" class="btn btn-primary" id="trace" onclick="filterCaseFlow()">仅看流程</button>
            </div>

        </div><!-- /input-group -->
    </div>

    <div style="margin-top: 6px" class="col-lg-12">
        <div class="input-group">
            <input class="form-control" type="text" style="width: 360px" id="labelName" placeholder="案卡项名称"/>
            <button style="margin-left: 6px" type="button" class="btn btn-primary" onclick="traceGJ()">溯源</button>
        </div>
    </div>

    <div style="margin-top: 6px" class="col-lg-12">
        <div class="input-group">
            <input class="form-control" type="text" style="width: 360px" id="userName" placeholder="操作人名"/>
            <div style="margin-left: 6px" class="btn-group">
                <button type="button" class="btn btn-primary" id="relatedCase" onclick="relatedCase()">涉及案件</button>
                <button type="button" class="btn btn-primary" id="relatedData" onclick="relatedData()">涉及数据</button>
            </div>

        </div><!-- /input-group -->
    </div>

    <div style="margin-top: 6px" class="col-lg-12">
        <div class="input-group">
            <input class="form-control" type="text" style="width: 360px" id="executeQuery" placeholder="执行查询"/>
            <div style="margin-left: 6px" class="btn-group">
                <button type="button" class="btn btn-primary" onclick="executeQuery()">执行查询</button>
                <button type="button" class="btn btn-primary" onclick="executeClear()">清空数据</button>
            </div>
        </div>
    </div>

    <!--    <div style="margin-top: 6px" class="col-lg-12">-->
    <!--        <div class="input-group">-->
    <!--            <input class="form-control" type="text" style="width: 160px" id="caseTaskId" placeholder="案件环节ID"/>-->
    <!--            <input class="form-control" type="number" style="width: 160px" id="actionLength" placeholder="推理/溯源路径长度"/>-->
    <!--            <div style="margin-left: 6px" class="btn-group">-->
    <!--                <button type="button" class="btn btn-primary" id="inference" onclick="inference()">推理</button>-->
    <!--                <button type="button" class="btn btn-primary" id="trace" onclick="trace()">溯源</button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div style="margin-top: 6px" class="col-lg-12">-->
    <!--        <div class="input-group">-->
    <!--            <input class="form-control" type="text" style="width: 160px" id="logIn" placeholder="案件实例ID"/>-->
    <!--            <button style="margin-left: 6px" type="button" class="btn btn-primary" id="logIn" onclick="logImport()">导入日志-->
    <!--            </button>-->
    <!--        </div>&lt;!&ndash; /input-group &ndash;&gt;-->
    <!--    </div>-->


</div>

<div role="tabpanel">

    <!-- Nav tabs -->
    <!--<ul class="nav nav-tabs" role="tablist">-->
    <!--<li role="presentation" class="active"><a href="#graph" aria-controls="home" role="tab" data-toggle="tab">Graph</a></li>-->
    <!--<li role="presentation"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>-->
    <!--</ul>-->

    <!-- Tab panes -->
    <div style="margin-top: 6px">
        <span class="nodeId label label-success"></span>
        <span class="caseId label label-default"></span>
        <span class="nodeTaskId label label-default"></span>
        <span class="nodeName label label-default"></span>

    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active">
            <div class="tab-pane active" id="graph">&nbsp;</div>
        </div>
        <div role="tabpanel" class="tab-pane" id="table">
            <div id="datatable"></div>
        </div>
    </div>


</div>

<script src="${rc.contextPath}/scripts/codemirror.js"></script>
<script src="${rc.contextPath}/scripts/codemirror-cypher.js"></script>
<script src="${rc.contextPath}/scripts/vendor.js"></script>
<script src="${rc.contextPath}/scripts/sweet-alert.min.js"></script>
<script src="${rc.contextPath}/scripts/neod3.js"></script>
<script src="${rc.contextPath}/scripts/neod3-visualization.js"></script>
<script src="${rc.contextPath}/scripts/neo4d3.js"></script>
<script src="${rc.contextPath}/scripts/cy2neod3.js"></script>
<script src="${rc.contextPath}/scripts/jquery.dataTables.min.js"></script>
<script src="${rc.contextPath}/scripts/cypher.datatable.js"></script>


<script type="text/javascript">
    var connection = function () {
        configStr = localStorage.getItem("neoconfig");
        configJSON = JSON.parse(configStr)
        console.log(configJSON.NEO_SERVER_URL, configJSON.NEO_SERVER_USER, configJSON.NEO_SERVER_PSW)
        config = {
            url: "http://" + configJSON.NEO_SERVER_URL + ":7474",
            user: configJSON.NEO_SERVER_USER,
            pass: configJSON.NEO_SERVER_PSW
        };
        return config;
    }


    function execute(content) {
        var neod3 = new Neod3Renderer();

        var neo = new Neo(connection);
        try {
            var query = content;
            console.log("Executing Query", query);
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                var graph = res.graph;
                if (graph) {
                    var c = $("#graph");
                    c.empty();
                    neod3.render("graph", c, graph);
                } else {
                    if (err) {
                        console.log(err);
                        if (err.length > 0) {
                            sweetAlert("Cypher error", err[0].code + "\n" + err[0].message, "error");
                        } else {
                            sweetAlert("Ajax " + err.statusText, "Status " + err.status + ": " + err.state(), "error");
                        }
                    }
                }
            });
        } catch (e) {
            console.log(e);
            sweetAlert("Catched error", e, "error");
        }
    }

    function trace() {
        var query = null;
        if ($("#caseTaskId").val()) {
            query = "MATCH (n) WHERE ID(n)=" + $("#caseTaskId").val() + " WITH n MATCH p = (m) - [*1.." + $("#actionLength").val() + "] -> (n) RETURN n,p";//$("#caseTaskId").val();
        } else {
            query = "  MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#caseTaskId\").val()---->" + $("#caseTaskId").val());
        clearNodeInfo();
        execute(query);
    }

    function inference() {
        var query = null;
        if ($("#caseTaskId").val()) {
            query = "MATCH (n) WHERE ID(n)=" + $("#caseTaskId").val() + " WITH n MATCH p = (n) - [*1.." + $("#actionLength").val() + "] -> (m) RETURN n,p";//$("#caseTaskId").val();
        } else {
            query = "  MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#caseTaskId\").val()---->" + $("#caseTaskId").val());
        clearNodeInfo();
        execute(query);
    }


    //根据部门受案号查找案件
    function filterCaseByBMSAH() {
        var query = null;
        var nodeCount=50;
        if ($("#nodeCount").val()) {
            nodeCount=$("#nodeCount").val()
        }
        if ($("#caseId").val()) {
            query = "MATCH (n) WHERE n.caseId=\'" + $("#caseId").val() + "\' WITH n MATCH p = (m) - [*] -> (n) RETURN n,p limit("+nodeCount+")";
        } else {
            query = "MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#caseId\").val()---->" + $("#caseId").val());
        clearNodeInfo();
        execute(query);
    }

    //根据部门受案号查找案件，仅显示流程信息
    function filterCaseFlow() {
        var query = null;
        if ($("#caseId").val()) {
            query = "MATCH (m:CASE) WHERE m.caseId=\'" + $("#caseId").val() + "\' WITH m MATCH p = (m) - [*] -> (n:Task) RETURN m,n,p";
        } else {
            query = "match (n:CASE) with n match p=(n)-[*]->(m:Task) return p"; //不指定案件id，也只看所有案件的流程
        }
        console.log("$(\"#caseId\").val()---->" + $("#caseId").val());
        clearNodeInfo();
        execute(query);
    }


    //根据案件类别筛选案件
    function filterCaseByCategory() {
        var query = null;
        if ($("#caseCategory").val()) {
            query = "MATCH (m:CASE) WHERE m.案件类别=\'" + $("#caseCategory").val() + "\' WITH m MATCH p = (m) - [*] -> (n:Task) RETURN n,p,m";
        } else {
            query = "MATCH (n:CASE) WITH n MATCH p=(n)-[*]->(m:Task) RETURN p,n,m";
        }
        clearNodeInfo();
        execute(query);
    }

    //根据案件名称模糊查询
    function findCase() {
        var query = null;
        if ($("#caseName").val()) {
            query = "MATCH (a:CASE) WHERE a.name=~ '.*" + $("#caseName").val() + ".*' with a MATCH p=(a)-[*]->(m:Task) RETURN a,p,m";
        } else {
            query = "MATCH (n:CASE) WITH n MATCH p=(n)-[*]->(m:Task) RETURN p,n,m";
        }
        console.log("$(\"#caseName\").val()---->" + $("#caseName").val());
        clearNodeInfo();
        execute(query);
    }

    //查找人名涉及的案件
    function relatedCase() {
        var query = null;
        if ($("#userName").val()) {
            query = "MATCH (n:USER) WHERE n.name=\'" + $("#userName").val() + "\' WITH n MATCH p = (n) - [*1] -> (m:Task) RETURN m,p,n";
        } else {
            query = "MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#userName\").val()---->" + $("#userName").val());
        clearNodeInfo();
        execute(query);
    }

    //查找人名涉及的数据
    function relatedData() {
        var query = null;
        if ($("#userName").val()) {
            query = "MATCH (n:USER) WHERE n.name=\'" + $("#userName").val() + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        } else {
            query = "MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#userName\").val()---->" + $("#userName").val());
        clearNodeInfo();
        execute(query);
    }

    //对接高检，案卡项溯源
    function traceGJ() {
        var query = null;
        if ($("#caseId").val() && $("#labelName").val()) {
            query = "MATCH (n) WHERE n.caseId=\'" + $("#caseId").val() + "\' WITH n MATCH p = (n) - [*] -> (m) where m.name=\'" + $("#labelName").val() + "\' RETURN m,p";
        } else {
            query = "  MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#labelName\").val()---->" + $("#caseId").val());
        clearNodeInfo();
        execute(query);
    }

    function executeQuery() {
        execute($("#executeQuery").val());
    }

    function executeClear() {
        execute("match(n)-[r]-(m) delete r,n,m");
    }

    function logImport() {
        var url = "${webRoot}/logImport";
        var params = {
            'caseId': $("#logIn").val(),
        };
        $.post(url, params, function (result) {
            if (result.code == '0') {
                console.log(result);
            } else {
                alertMsg(result.msg);
            }
        });
    }

    function clearNodeInfo() {

        //neo pane区域
        $(".nodeId").text("");
        $(".caseId").text("");
        $(".nodeName").text("");
    }

    window.onload = (function () {
        //todo dynamic configuration
        // var query = "MATCH (n:CASE) WITH n MATCH p=(n)-[*]->(m:Task) RETURN p,n,m";
        // execute(query);
    });
</script>
</body>
</html>