<html>
<head>
    <title></title>
    <link rel="stylesheet" href="styles/codemirror.css">
    <link rel="stylesheet" href="styles/codemirror-neo.css">
    <link rel="stylesheet" href="styles/cy2neo.css">

    <link rel="stylesheet" href="styles/datatable.css">
    <link rel="stylesheet" href="styles/vendor.css"> <!-- bootstrap-->
    <link rel="stylesheet" href="styles/sweet-alert.css">
    <link rel="stylesheet" href="styles/gh-fork-ribbon.css">

    <!-- Basic Css files -->
    <link rel="stylesheet" href="styles/metismenu.min.css">
    <link rel="stylesheet" href="styles/neodCss1.css">

    <link rel="stylesheet" href="styles/morris.css">
    <link href="styles/metismenu.min.css" rel="stylesheet">
    <link href="styles/icons.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" >
</head>
<body>

<div>

    <nav aria-label="Page navigation">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="javascript:;" onclick="monitorClick()" id="xieshijiancha_a">刑事检察</a></li>
            <li role="presentation"><a href="javascript:;" onclick="supervisionClick()" id="xieshizhixing_a">刑事执行</a>
            </li>
            <li role="presentation"><a href="javascript:;" onclick="prosecutionClick()" id="gongsu_a">公益诉讼</a></li>
            <li role="presentation"><a href="javascript:" onclick="minshiClick()" id="minshi_a">民事</a></li>
            <li role="presentation"><a href="javascript:" onclick="xinzhengClick()" id="xinzheng_a">行政</a></li>
            <li role="presentation"><a href="javascript:" onclick="weijianClick()" id="weijian_a">未检业务</a></li>
            <li role="presentation"><a href="javascript:" onclick="konggaoClick()" id="konggao_a">控告申诉</a></li>
            <li role="presentation"><a href="javascript:" onclick="jianweiClick()" id="jianwei_a">检委办</a></li>
            <li role="presentation"><a href="javascript:" onclick="duitaiClick()" id="duitai_a">对台业务</a></li>
            <li role="presentation"><a href="javascript:" onclick="anguanClick()" id="anguan_a">案管</a></li>
            <li role="presentation"><a href="javascript:" onclick="sifaClick()" id="sifa_a">司法协助</a></li>

        </ul>
    </nav>

    <div id="relevantCase" style="visibility : hidden;text-align:center;margin:0 auto">
        <input class="form-control" type="text" style="width: 240px" id="keySelect" placeholder="关键字查询"/>

        <nav aria-label="Page navigation">
            <div id="pageData">
                <ul class="list-group" id="caseList">

                </ul>
            </div>
        </nav>
        <div class="page">
            <div id="page">

            </div>
        </div>
    </div>

</div>

<div style="border-top: 8px solid lightgray; margin-top: 5px;">

    <!--<div id="my_container" style="width:440px; height:410px;float: right;position:relative;box-shadow: 0 0 50px grey;">
        <p id="containerName" style="float: right;margin-right: 20px;margin-top:10px;
    font-size: 24px;color: darkred;font-weight: bold">案件总数比例</p>
        <canvas id="pie_canvas"></canvas>
    </div>-->

    <!--<p id="chartName" style="position:absolute; font-size: 24px;color: darkred;
    font-weight: bold;margin-top:10px;margin-left: 20px"></p>
    <div id="chart" style="position: relative">

    </div>-->
    <div class="col-xl-9" style = "display:inline-block" >
        <div class="card" style = "width:580px;height: 400px" id = "barId1">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-5" id="bar_label1"></h4>
                <div id="morris-bar-stacked1" class="morris-chart-height morris-charts"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-9" style = "display:inline-block" >
        <div class="card" style = "width:580px;height: 400px" id = "barId2">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-5" id="bar_label2"></h4>
                <div id="morris-bar-stacked2" class="morris-chart-height morris-charts"></div>
            </div>
        </div>
    </div>

    <div id="colorfulPulse" style="position: fixed;margin-top: 130px;margin-left:300px">
        <span class="item-1"></span>
        <span class="item-2"></span>
        <span class="item-3"></span>
        <span class="item-4"></span>
        <span class="item-5"></span>
        <span class="item-6"></span>
        <span class="item-7"></span>
    </div>
</div>

<!--<script src="${rc.contextPath}/scripts/d3.v4.js"></script>-->
<script src="scripts/d3.v4.js"></script>
<script src="scripts/codemirror.js"></script>
<script src="scripts/codemirror-cypher.js"></script>
<script src="scripts/vendor.js"></script>
<script src="scripts/sweet-alert.min.js"></script>
<script src="scripts/neod3.js"></script>
<script src="scripts/neod3-visualization.js"></script>
<script src="scripts/neo4d3.js"></script>
<script src="scripts/cy2neod3.js"></script>
<script src="scripts/jquery.dataTables.min.js"></script>
<script src="scripts/cypher.datatable.js"></script>
<!--<script src="scripts/neodJs.js"></script>>-->

<script src="scripts/jquery.min.js"></script>
<script src="scripts/bootstrap.bundle.min.js"></script>
<script src="scripts/modernizr.min.js"></script>
<script src="scripts/metisMenu.min.js"></script>
<script src="scripts/jquery.slimscroll.js"></script>
<script src="scripts/waves.js"></script>
<script src="scripts/jquery.peity.min.js"></script>
<script src="scripts/morris.min.js"></script>
<script src="scripts/raphael-min.js"></script>
<script src="scripts/dashboard.js"></script>
<script src="scripts/app.js"></script>

<script type="text/javascript">

</script>


<script type="text/javascript">
    $("#keySelect").bind('keypress', function (event) {
        var strSelect = this.value;
        if (event.keyCode == "13") {
            var listItems = $('.list-group-item');
            var listLength = listItems.length;
            for (i = 0; i < listLength; i++) {
                if (listItems[i].textContent.includes(this.value)) {
                    listItems[i].style.backgroundColor = "orange"
                } else {
                    listItems[i].style.backgroundColor = "white"
                }
            }
        }
    });
</script>
<script>
    function bar1(data) {
        !function ($) {
            "use strict1";

            var Dashboard = function () {
            };

            //creates Stacked chart
            console.log("bar1")
            Dashboard.prototype.createStackedChart  = function(element, data, xkey, ykeys, labels, lineColors) {
                Morris.Bar({
                    element: element,
                    data: data,
                    xkey: xkey,
                    ykeys: ykeys,
                    stacked: true,
                    labels: labels,
                    hideHover: 'auto',
                    resize: true, //defaulted to true
                    gridLineColor: '#eeeeee',
                    barColors: lineColors,
                    labelTop:true,
                    barRatio: 0.4,
                    xLabelAngle: 35,
                });
            },
                // pie
                $('.peity-pie').each(function () {
                    $(this).peity("pie", $(this).data());
                });

            //donut
            $('.peity-donut').each(function () {
                $(this).peity("donut", $(this).data());
            });

            // line
            $('.peity-line').each(function () {
                $(this).peity("line", $(this).data());
            });


            Dashboard.prototype.init = function () {
                var $stckedData  = data
                this.createStackedChart('morris-bar-stacked1', $stckedData, 'y', ['a', 'b', 'c'], ['人', '外部工具', '辅助工具'], ['#1699dd', '#655be6', '#ebeff2']);
            },
                //init
                $.Dashboard = new Dashboard, $.Dashboard.Constructor = Dashboard
        }(window.jQuery),

//initializing
            function ($) {
                "use strict1";
                $.Dashboard.init();
            }(window.jQuery);
    }

   function bar2(data){
       !function ($) {
           "use strict2";

           var Dashboard = function () {
           };

           //creates Stacked chart
           Dashboard.prototype.createStackedChart  = function(element, data, xkey, ykeys, labels, lineColors) {
               Morris.Bar({
                   element: element,
                   data: data,
                   xkey: xkey,
                   ykeys: ykeys,
                   stacked: true,
                   labels: labels,
                   hideHover: 'auto',
                   resize: true, //defaulted to true
                   gridLineColor: '#eeeeee',
                   barColors: lineColors,
                   labelTop:true,
                   barRatio: 0.4,
                   xLabelAngle: 35,
           });
           },
               // pie
               $('.peity-pie').each(function () {
                   $(this).peity("pie", $(this).data());
               });

           //donut
           $('.peity-donut').each(function () {
               $(this).peity("donut", $(this).data());
           });

           // line
           $('.peity-line').each(function () {
               $(this).peity("line", $(this).data());
           });


           Dashboard.prototype.init = function () {

               var $stckedData  = data;
               this.createStackedChart('morris-bar-stacked2', $stckedData, 'y', ['a'], ['耗时'], ['#1699dd']);
           },
               //init
               $.Dashboard = new Dashboard, $.Dashboard.Constructor = Dashboard
       }(window.jQuery),

//initializing
           function ($) {
               "use strict2";
               $.Dashboard.init();
           }(window.jQuery);
   }


</script>
<script>
    var over_str = ['刑事检察', '刑事执行', '公益诉讼', '民事', '行政', '未检业务', '控告申诉', '检委办', '对台业务', '案管', '司法协助'];
    var over_data = over_data = [7, 4, 3, 3, 2, 2, 2, 2, 2, 2, 2];
    var over_count = 0;
    var over_anjian = ['朱某某逃逸案', '周某某盗窃案',
        '张某某盗窃案', '郭某某漏税案', '刘某某投毒案', '贺某某纵火案', '王某某强奸案', '李某某贪污案'];

    var connection = function () {
        configStr = localStorage.getItem("neoconfig");
        configJSON = JSON.parse(configStr)
        // console.log(configJSON.NEO_SERVER_URL, configJSON.NEO_SERVER_USER, configJSON.NEO_SERVER_PSW)
        config = {
            url: "http://" + configJSON.NEO_SERVER_URL + ":7474",
            user: configJSON.NEO_SERVER_USER,
            pass: configJSON.NEO_SERVER_PSW
        };
        return config;
    }


    function execute(content) {
        var neod3 = new Neod3Renderer();

        var neo = new Neo(connection);
        try {
            var query = content;
            //console.log("Executing Query", query);
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                var graph = res.graph;
                if (graph) {
                    var c = $("#graph");
                    c.empty();
                    neod3.render("graph", c, graph);
                } else {
                    if (err) {
                        console.log(err);
                        if (err.length > 0) {
                            sweetAlert("Cypher error", err[0].code + "\n" + err[0].message, "error");
                        } else {
                            sweetAlert("Ajax " + err.statusText, "Status " + err.status + ": " + err.state(), "error");
                        }
                    }
                }
            });
        } catch (e) {
            console.log(e);
            sweetAlert("Catched error", e, "error");
        }
    }

    function trace() {
        var query = null;
        if ($("#caseTaskId").val()) {
            query = "MATCH (n) WHERE ID(n)=" + $("#caseTaskId").val() + " WITH n MATCH p = (m) - [*1.." + $("#actionLength").val() + "] -> (n) RETURN n,p";//$("#caseTaskId").val();
        } else {
            query = "  MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#caseTaskId\").val()---->" + $("#caseTaskId").val());
        clearNodeInfo();
        execute(query);
    }

    function inference() {
        var query = null;
        if ($("#caseTaskId").val()) {
            query = "MATCH (n) WHERE ID(n)=" + $("#caseTaskId").val() + " WITH n MATCH p = (n) - [*1.." + $("#actionLength").val() + "] -> (m) RETURN n,p";//$("#caseTaskId").val();
        } else {
            query = "  MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#caseTaskId\").val()---->" + $("#caseTaskId").val());
        clearNodeInfo();
        execute(query);
    }

    function executeQuery() {
        execute($("#executeQuery").val());
    }

    function clearNodeInfo() {

        //neo pane区域
        $(".nodeId").text("");
        $(".caseId").text("");
        $(".nodeName").text("");
    }

    function executeNode(content, ss, ll) {
        var query = content;
        var neo = new Neo(connection);
        ll = ll.toString();
        localStorage.setItem("LeiBieName", ll);
        document.getElementById("caseList").innerHTML = "";
        console.log(ll);
        $.ajax({
            type: "get",
            async: false,
            data: {"ajlb": ll},
            url: "/hxyActiviti/demo/gj/ajlb",
            success: function (res) {
                if (res) {
                    var yy = 0;
                    for (var i in res) {

                        console.log(res[i].bmsah);
                        var str = "";
                        var j = parseInt(i) + 1
                        var className = ss + j;
                        //var className = ss + j;
                        var className = ss;
                        if (yy >= over_anjian.length) {
                            yy = 0;
                        }
                        // className + '-' + over_anjian[yy];
                        className = res[i].ajmc
                        yy++;
                        var bmsah = res[i].bmsah;
                        if (bmsah == null) {
                            bmsah = '汉东检刑诉受[2019]980000100216号';
                        }
                        var timeStr = res[i].cjsj.toString();
                        var is_complete = res[i].is_complete;
                        console.log(timeStr);

                        if (true) {
                            var time = timeStr.substring(0, 4) + "年" + timeStr.substring(5, 7) + "月" + timeStr.substring(8, 10) + "日";
                            str = "<li class=\"list-group-item\"><span style=\"float: left;margin-top:-2px;width:250px;text-align:left;\">" + className + "</span> " +
                                " <span style=\"margin-left:-50px;margin-top:-2px\">" + bmsah + "</span> " +
                                "<button style=\"margin-left: 6px;float: right;margin-top:-6px\" type=\"button\" class=\"btn btn-primary\" onclick=\"lineageSelect(\'" + bmsah + "\')\">" + "世系查询" + "</button> " +
                                "<span style=\"float:right;margin-right:200px;margin-top:-2px\">" + time + "</span>"
                            ;
                            document.getElementById("caseList").innerHTML += str;
                        }
                    }
                    var zz = getzz();
                    change(1, zz);
                } else {

                }
            }
        });
    }

    function getzz() {
        var a = $("ul#caseList li");
        var zz = new Array(a.length);
        for (var i = 0; i < a.length; i++) {
            zz[i] = a[i].innerHTML;
        } //div的字符串数组付给zz
        // console.log("zz is" + zz);
        return zz;
    }


    var pageno = 1;
    var gg;

    function change(e, zz) {
        //console.log("zz is" + zz);
        gg = zz;
        pageno = e;
        var pagesize = 4; //每页多少条信息
        if (zz.length % pagesize == 0) {
            var pageall = zz.length / pagesize;
        } else {
            var pageall = parseInt(zz.length / pagesize) + 1;
        }   //一共多少页
        if (e < 1) {
            e = 1;
            pageno = 1;//就等于第1页 ， 当前页为1
        }
        if (e > pageall) {  //如果输入页大于最大页
            e = pageall;
            pageno = pageall; //输入页和当前页都=最大页
        }
        $("#caseList").html("");//全部清空
        console.log("html is" + $("#caseList").html(""));
        var html = "";
        for (var i = 0; i < pagesize; i++) {
            if (zz[(e - 1) * pagesize + i] == null) zz[(e - 1) * pagesize + i] = "<span style=\"color:white\">空白</span>";
            html += '<li class=\"list-group-item\">' + zz[(e - 1) * pagesize + i] + '</li>';//创建一页的li列表
        }
        $("ul#caseList").html(html);//给ul列表写入html
        var ye = "";
        for (var j = 1; j <= pageall; j++) {
            if (e == j) {
                ye = ye + "<span><button onClick='change(" + j + ",gg)' style='color:#FF0000'>" + j + "</button></span> "
            } else {
                ye = ye + "<button onClick='change(" + j + ",gg)'>" + j + "</button> "
            }
        }
        var pageContent = "";
        pageContent += '第<span id=\"a2\">' + pageno + '</span>/';
        pageContent += '<span id="a1">' + pageall + '</span>页';
        pageContent += '<span id="a3">' + ye + '</span>';
        pageContent += '<button  onClick="change(--pageno,gg)">上一页</button>';
        pageContent += '<button onClick="change(++pageno,gg)">下一页</button>';
        $("#page").html(pageContent);
    }

    monitorClick();

    function monitorClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("xieshijiancha_a").innerHTML + "案件";
        var ll = document.getElementById("xieshijiancha_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "刑事检察" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        clearNodeInfo();
        document.getElementById("morris-bar-stacked1").innerHTML = "";
        document.getElementById("morris-bar-stacked2").innerHTML = "";
        data1 = [
            { y: '附注', a: 3.00, b: 1.80, c: 1.00 },
            { y: '补充人编号', a: 2.05,  b: 0.65, c: 0.80 },
            { y: '补充人姓名', a: 1.70, b: 0.90, c: 0.56 },
            { y: '入卷入编号', a: 1.75,  b: 0.85, c: 1.20 },
            { y: '案件类型', a: 0.60, b: 0.90, c: 1.00 },
            { y: '撤回人编号', a: 0.75,  b: 0.65, c: 1.10 },
            { y: '案件类型名称', a: 0.60,  b: 0.50, c: 0.85 },
            { y: '移送案由', a: 0.55,  b: 0.65, c: 0.52 },
            { y: '案情摘要', a: 0.50,  b: 0.40, c: 0.77 },
            { y: '关联自然人编号', a: 0.45,  b: 0.65, c: 0.60 },
            { y: '撤回人姓名', a: 0.30, b: 0.30, c: 0.30 }
        ];
        data2 = [
            { y: '受理', a: 3.00},
            { y: '分案', a: 2.05},
            { y: '审查起诉', a: 1.70},
            { y: '起诉', a: 1.75},
            { y: '全案不起诉', a: 0.90},
            { y: '改变管辖', a: 0.75},
            { y: '建议撤案', a: 0.60},
            { y: '并案', a: 0.55},
            { y: '拆案', a: 0.50},
            { y: '出庭公诉', a: 0.45},
            { y: '提出抗诉', a: 0.30}
        ];
        bar1(data1);
        bar2(data2);
        executeNode(query, ss, ll);
    }
    function supervisionClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("xieshizhixing_a").innerHTML + "案件";
        var ll = document.getElementById("xieshizhixing_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "刑事执行" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        data1 = [
            { y: '张某hhh', a: 300, b: 180, c: 100 },
            { y: '李某', a: 205,  b: 65, c: 80 },
            { y: '王某', a: 170, b: 90, c: 56 },
            { y: '丁某', a: 75,  b: 85, c: 120 },
            { y: '贺某', a: 60, b: 90, c: 100 },
            { y: '王某', a: 75,  b: 65, c: 110 },
            { y: '马某', a: 60,  b: 50, c: 85 },
            { y: '丁某', a: 55,  b: 65, c: 52 },
            { y: '刘某', a: 50,  b: 40, c: 77 },
            { y: '马某', a: 45,  b: 65, c: 60 },
            { y: '李某', a: 30, b: 30, c: 30 }
        ];
        data2 = [
            { y: '受理', a: 3.00},
            { y: '分案', a: 2.05},
            { y: '审查起诉', a: 1.70},
            { y: '起诉', a: 1.75},
            { y: '全案不起诉', a: 0.90},
            { y: '改变管辖', a: 0.75},
            { y: '建议撤案', a: 0.60},
            { y: '并案', a: 0.55},
            { y: '拆案', a: 0.50},
            { y: '出庭公诉', a: 0.45},
            { y: '提出抗诉', a: 0.30}
        ];
        clearNodeInfo();
        document.getElementById("morris-bar-stacked1").innerHTML = "";
        document.getElementById("morris-bar-stacked2").innerHTML = "";
        bar1(data1);
        bar2(data2);
        executeNode(query, ss, ll);
    }

    function prosecutionClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("gongsu_a").innerHTML + "案件";
        var ll = document.getElementById("gongsu_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "公益诉讼" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        clearNodeInfo();
        executeNode(query, ss, ll);
    }


    function minshiClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("minshi_a").innerHTML + "案件";
        var ll = document.getElementById("minshi_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "民事" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        clearNodeInfo();
        executeNode(query, ss, ll);
    }

    function xinzhengClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("xinzheng_a").innerHTML + "案件";
        var ll = document.getElementById("xinzheng_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "行政" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        clearNodeInfo();
        executeNode(query, ss, ll);
    }

    function weijianClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("weijian_a").innerHTML + "案件";
        var ll = document.getElementById("weijian_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "未检业务" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        clearNodeInfo();
        executeNode(query, ss, ll);
    }

    function konggaoClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("konggao_a").innerHTML + "案件";
        var ll = document.getElementById("konggao_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "控告申诉" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        clearNodeInfo();
        executeNode(query, ss, ll);
    }

    function jianweiClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("jianwei_a").innerHTML + "案件";
        var ll = document.getElementById("jianwei_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "检委办" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        clearNodeInfo();
        executeNode(query, ss, ll);
    }

    function duitaiClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("duitai_a").innerHTML + "案件";
        var ll = document.getElementById("duitai_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "对台业务" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        clearNodeInfo();
        executeNode(query, ss, ll);
    }

    function anguanClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("anguan_a").innerHTML + "案件";
        var ll = document.getElementById("anguan_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "案管" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        clearNodeInfo();
        executeNode(query, ss, ll);
    }

    function sifaClick() {
        document.getElementById("relevantCase").style.visibility = "visible";
        var ss = document.getElementById("sifa_a").innerHTML + "案件";
        var ll = document.getElementById("sifa_a").innerHTML;
        document.getElementById("bar_label1").innerHTML = ll + "业务案卡项修改次数（平均）";
        document.getElementById("bar_label2").innerHTML = ll + "业务流程环节耗时（平均/小时）";
        var query = null;
        query = "MATCH (n:BALB) WHERE n.class=\'" + "司法协助" + "\' WITH n MATCH p = (n) - [*1] -> (m) RETURN m,p,n";
        clearNodeInfo();
        executeNode(query, ss, ll);
    }

    window.onload = (function () {
        //todo dynamic configuration
        // var query = "MATCH (n:CASE) WITH n MATCH p=(n)-[*]->(m:Task) RETURN p,n,m";
        // execute(query);
        //canvas_data();
    });

</script>
</body>
</html>
