<html>
<head>
    <link rel="stylesheet" href="${rc.contextPath}/styles/codemirror.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/codemirror-neo.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/cy2neo.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/neod3.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/datatable.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/vendor.css"> <!-- bootstrap-->
    <link rel="stylesheet" href="${rc.contextPath}/styles/sweet-alert.css">
    <link rel="stylesheet" href="${rc.contextPath}/styles/gh-fork-ribbon.css">
    <title>Cy2NeoD3 - Tiny Neo4j Cypher Workbench</title>
</head>
<body>
<!--<div>-->
<!--&lt;!&ndash;<input class="form-control" type="url" value="http://127.0.0.1:7474" id="neo4jUrl"/><br/>&ndash;&gt;-->
<!--&lt;!&ndash;<input class="form-control" type="text" size="8" value="neo4j" id="neo4jUser"/>&ndash;&gt;-->
<!--&lt;!&ndash;<input class="form-control" type="password" size="8" placeholder="password" value="test" id="neo4jPass"/><br/>&ndash;&gt;-->
<!--<textarea name="cypher" id="cypher" rows="4" cols="120" data-lang="cypher" class="code form-control">-->
<!--MATCH (n)-[r]->(m)-->
<!--RETURN n,r,m-->
<!--</textarea>-->
<!--<a href="#" title="Execute" id="execute"><i class="fa fa-play-circle-o"></i></a>-->
<!--</div>-->

<div>

    <div style="margin-top: 6px" class="col-lg-6">
        <div class="input-group">
            <input class="form-control" type="text" style="width: 160px" id="caseName" placeholder="输入内容"/>
            <button style="margin-left: 6px" type="button" class="btn btn-primary" id="caseName" onclick="findCase()">查找案件
            </button>
        </div><!-- /input-group -->
    </div>

    <div style="margin-top: 6px" class="col-lg-6">
        <div class="input-group">
            <input class="form-control" type="text" style="width: 160px" id="caseId" placeholder="案件ID"/>
            <button style="margin-left: 6px" type="button" class="btn btn-primary" id="caseId" onclick="filterCase()">筛选案件
            </button>
        </div><!-- /input-group -->
    </div>


    <div style="margin-top: 6px" class="col-lg-6">
        <div class="input-group">
            <input class="form-control" type="text" style="width: 160px" id="caseTaskId" placeholder="案件环节ID"/>
            <input class="form-control" type="number" style="width: 160px" id="actionLength" placeholder="推理/溯源路径长度"/>
            <div style="margin-left: 6px" class="btn-group">
                <button type="button" class="btn btn-primary" id="inference" onclick="inference()">推理</button>
                <button type="button" class="btn btn-primary" id="trace" onclick="trace()">溯源</button>
            </div>
        </div>
    </div>





</div>

<div role="tabpanel">

    <!-- Nav tabs -->
    <!--<ul class="nav nav-tabs" role="tablist">-->
    <!--<li role="presentation" class="active"><a href="#graph" aria-controls="home" role="tab" data-toggle="tab">Graph</a></li>-->
    <!--<li role="presentation"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>-->
    <!--</ul>-->

    <!-- Tab panes -->
    <div style="margin-top: 6px">
        <span class="nodeId label label-success"></span>
        <span class="caseId label label-default"></span>
        <span class="nodeTaskId label label-default"></span>
        <span class="nodeName label label-default"></span>

    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="graph">
            <div class="tab-pane active" id="graph">&nbsp;</div>
        </div>
        <div role="tabpanel" class="tab-pane" id="table">
            <div id="datatable"></div>
        </div>
    </div>


</div>

<script src="${rc.contextPath}/scripts/codemirror.js"></script>
<script src="${rc.contextPath}/scripts/codemirror-cypher.js"></script>
<script src="${rc.contextPath}/scripts/vendor.js"></script>
<script src="${rc.contextPath}/scripts/sweet-alert.min.js"></script>
<script src="${rc.contextPath}/scripts/neod3.js"></script>
<script src="${rc.contextPath}/scripts/neod3-visualization.js"></script>
<script src="${rc.contextPath}/scripts/neo4d3.js"></script>
<script src="${rc.contextPath}/scripts/cy2neod3.js"></script>
<script src="${rc.contextPath}/scripts/jquery.dataTables.min.js"></script>
<script src="${rc.contextPath}/scripts/cypher.datatable.js"></script>


<script type="text/javascript">
    var connection = function () {
        configStr = localStorage.getItem("neoconfig");
        configJSON = JSON.parse(configStr)
        console.log(configJSON.NEO_SERVER_URL, configJSON.NEO_SERVER_USER,configJSON.NEO_SERVER_PSW)
        config = {url: "http://"+configJSON.NEO_SERVER_URL+":7474" , user: configJSON.NEO_SERVER_USER , pass: configJSON.NEO_SERVER_PSW};
        return config;
    }


    function execute(content) {
        var neod3 = new Neod3Renderer();

        var neo = new Neo(connection);
        try {
            var query = content;
            console.log("Executing Query", query);
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                var graph = res.graph;
                if (graph) {
                    var c = $("#graph");
                    c.empty();
                    neod3.render("graph", c, graph);
                } else {
                    if (err) {
                        console.log(err);
                        if (err.length > 0) {
                            sweetAlert("Cypher error", err[0].code + "\n" + err[0].message, "error");
                        } else {
                            sweetAlert("Ajax " + err.statusText, "Status " + err.status + ": " + err.state(), "error");
                        }
                    }
                }
            });
        } catch (e) {
            console.log(e);
            sweetAlert("Catched error", e, "error");
        }
    }

    function trace() {
        var query = null;
        if ($("#caseTaskId").val()) {
            query = "MATCH (n) WHERE ID(n)=" + $("#caseTaskId").val() + " WITH n MATCH p = (m) - [*1.." + $("#actionLength").val() + "] -> (n) RETURN n,p";//$("#caseTaskId").val();
        } else {
            query = "  MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#caseTaskId\").val()---->" + $("#caseTaskId").val());
        clearNodeInfo();
        execute(query);
    }

    function inference() {
        var query = null;
        if ($("#caseTaskId").val()) {
            query = "MATCH (n) WHERE ID(n)=" + $("#caseTaskId").val() + " WITH n MATCH p = (n) - [*1.." + $("#actionLength").val() + "] -> (m) RETURN n,p";//$("#caseTaskId").val();
        } else {
            query = "  MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#caseTaskId\").val()---->" + $("#caseTaskId").val());
        clearNodeInfo();
        execute(query);
    }

    function filterCase() {
        var query = null;
        if ($("#caseId").val()) {
            query = "MATCH (n) WHERE n.caseId=\'" + $("#caseId").val() + "\' WITH n MATCH p = (m) - [*] -> (n) RETURN n,p";
        } else {
            query = "  MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#caseId\").val()---->" + $("#caseId").val());
        clearNodeInfo();
        execute(query);
    }

    function findCase(){
        var query = null;
        if ($("#caseName").val()) {
            query = "MATCH (a:Task) WHERE a.name=~ '.*"+$("#caseName").val()+".*' RETURN a";
        } else {
            query = "MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#caseId\").val()---->" + $("#caseId").val());
        clearNodeInfo();
        execute(query);
    }

    function clearNodeInfo(){
        $(".nodeId").text("");
        $(".caseId").text("");
        $(".nodeTaskId").text("");
        $(".nodeName").text("");
    }
    window.onload = (function () {
        //todo dynamic configuration
        var query = "  MATCH (n)-[r]->(m) RETURN n,r,m";
        execute(query);
    });
</script>
</body>
</html>