<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>世系数据</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/codemirror.css">
    <link rel="stylesheet" href="styles/codemirror-neo.css">
    <link rel="stylesheet" href="styles/cy2neo.css">

    <link rel="stylesheet" href="styles/datatable.css">
    <link rel="stylesheet" href="styles/vendor.css"> <!-- bootstrap-->
    <link rel="stylesheet" href="styles/sweet-alert.css">
    <link rel="stylesheet" href="styles/gh-fork-ribbon.css">
    <link rel="stylesheet" href="styles/TimeLine.css">
    <style>
        #suyuanDataId {
            position: relative;
            overflow-x: hidden;
            overflow-y: scroll;
            width: 1200px;
            height: 40px;
            -webkit-box-shadow: #666 0px 0px 10px;
            -moz-box-shadow: #666 0px 0px 10px;
            box-shadow: #666 0px 0px 10px;
            margin-bottom: 5px;
        }

        .swal-title {
            margin: 0px;
            font-size: 14px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
            margin-bottom: 28px;
        }

        .swal-text {
            background-color: #FEFAE3;
            padding: 17px;
            border: 1px solid #F0E1A1;
            display: block;
            margin: 22px;
            color: #61534e;
        }

        .swal-footer {
            background-color: rgb(245, 248, 250);
            margin-top: 32px;
            border-top: 1px solid #E9EEF1;
            overflow: hidden;
        }

        .displayLabelCLass{
            margin-top:3px;
            float: right;
            border: 3px solid #000000;
            margin-right: 3px;
        }
        .displayLabelCLass:hover{
            display: block;
        }
    </style>
</head>
<body>
<div>

    <div style="margin-bottom: 2px;">
        <label id="suyuanNameLabel"
               style="position: absolute;margin-top: 6px;">案卡项名称</label>
        <div class="col-lg-6" style="width:420px;margin-left: 70px">
            <input type="text" class="form-control" id="suyuanName" placeholder=""
                   style="  margin-left:20px">
        </div>
        <label id="userNameLabel"
               style="position: absolute;margin-top: 6px;margin-left: 20px">办案人姓名</label>
        <div class="col-lg-6" style="width:447px ;margin-left: 90px">
            <input type="text" class="form-control" id="userName" placeholder=""
                   style=" margin-left:13px">
        </div>
    </div>
    <div class="col-lg-6" style="width:420px ;margin-left:70px">
        <label id="timeStartNameLabel"
               style="position: absolute;margin-top: 6px;margin-left:-85px">起始时间</label>
        <input type="date" class="form-control" id="timeStartName" placeholder="请输入起始时间"
               style="margin-left:20px">
    </div><!-- /input-group -->
    <!--    <p style="color:#939282;margin-top: 42px;position: absolute;margin-left: 507px;"> 至 </p>-->
    <div class="col-lg-6" style="width:447px;margin-left: 90px">
        <label id="timeEndNameLabel"
               style="position: absolute;margin-top: 6px;margin-left:-85px">截止时间</label>
        <input type="date" class="form-control" id="timeEndName" placeholder="请输入截至时间"
               style=" margin-left:13px">
    </div>
    <div class="col-lg-6" style="width:420px;margin-left:70px">
        <label id="ankaCountaLabel"
               style="position: absolute;margin-top: 6px;margin-left:-85px">案卡最少修改数</label>
        <input type="text" class="form-control" id="ankaCount"
               style="margin-left:20px" placeholder="">
    </div>
    <div class="col-lg-6" style="width:447px;margin-left:5px">
        <label id="labelNameLabel"
               style="position: absolute;margin-top: 6px;">案卡项数据类型</label>
        <input type="text" class="form-control" id="labelName" placeholder="" list="itemlist"
               style="margin-left:100px">
        <datalist id="itemlist">
            <option value="人员相关">人员相关</option>
            <option value="案件相关">案件相关</option>
            <option value="其他">其他</option>
        </datalist>
        <button onclick="trace()" class="btn btn-default" style="width: 100px;margin-top: -58px;margin-left:550px"
                type="button">溯源查找
        </button>
    </div>
    <div id="suyuanDataId">

    </div>
    <div id="displayLabel" style = "float: right" class = "displayLabelCLass">
        <p id = "displayLeiBie"
           style = "margin-top:10px;margin-right: 10px;font-weight: bold;
           color: #187526;font-size: 14px;font-family: 'Arial Black'">123</p>
        <p id = "displayCaseId"
           style = "margin-top:10px;margin-right: 10px;font-weight: bold;
           color: #187526;font-size: 14px;font-family: 'Arial Black'">456</p>
    </div>

</div>

<div id="leftContent" style="position:absolute;width:300px;height: 620px;
    display: none;border-right: 3px solid lightgray;z-index: 100">
    <div style="float: left;width:90%;margin-left:-40px">
        <ul class="timeline" id="timelineId">
            <li>
                <div class="time">2020</div>
                <div class="version">11-20</div>
                <div class="timeBananName">测试账号0102</div>
                <div class="number">
                </div>
                <div id="content201308" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人已移送检方<br/>
                    </div>
                </div>
            </li>
            <li>
                <div class="time">2020</div>
                <div class="version">11-20</div>
                <div class="timeBananName">测试帐号1804</div>
                <div class="number">
                </div>
                <div id="content201307" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人张三已移送检方<br/>
                    </div>
                </div>
            </li>
            <li>
                <div class="time">2020</div>
                <div class="version">11-21</div>
                <div class="timeBananName">测试帐号1804</div>
                <div class="number">
                </div>
                <div id="content201305" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人张三已移送检方，同案其他信息正在跟进<br/>
                    </div>
                </div>
            </li>
            <li>
                <div class="time">2020</div>
                <div class="version">11-21</div>
                <div class="timeBananName">测试帐号1804</div>
                <div class="number">
                </div>
                <div id="content201301" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人张三已移送检方，同案其他信息正在跟进,相关文书已经制作<br/>
                    </div>
                </div>
            </li>
            <li>
                <div class="time">2020</div>
                <div class="version">11-21</div>
                <div class="timeBananName">测试帐号1804</div>
                <div class="number">
                </div>
                <div id="content201302" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人张三已移送检方，同案其他信息正在跟进,相关文书已经制作,提出申诉<br/>
                    </div>
                </div>
            </li>
            <li>
                <div class="time">2020</div>
                <div class="version">11-21</div>
                <div class="timeBananName">测试帐号1804</div>
                <div class="number">
                </div>
                <div id="content201303" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人张三已移送检方，同案其他信息正在跟进,相关文书已经制作,提出申诉,退回<br/>
                    </div>
                </div>
            </li>
        </ul>
        <a id="returnTop" href="javascript:;">回到顶部</a>
    </div>
</div>
<div role="tabpanel">

    <div class="tab-content" style="
    position:absolute;height: 620px;border:3px solid lightgray;width:1210px">

        <div role="tabpanel" id="tableData" class="tab-pane active" style="height: 610px">
            <div class="tab-pane active" id="graph" style="height: 600px">&nbsp;</div>
        </div>
        <div role="tabpanel" class="tab-pane" id="table">
            <div id="datatable"></div>
        </div>

    </div>

</div>


<script src="scripts/codemirror.js"></script>
<script src="scripts/codemirror-cypher.js"></script>
<script src="scripts/vendor.js"></script>
<script src="scripts/neod3.js"></script>
<script src="scripts/neod3-visualization.js"></script>
<script src="scripts/neo4d3.js"></script>
<script src="scripts/cy2neod3.js"></script>
<script src="scripts/jquery.dataTables.min.js"></script>
<script src="scripts/cypher.datatable.js"></script>
<script src="scripts/sweet.js"></script>

<script src="scripts/jquery.masonry.min.js"></script>
<script src="scripts/jquery.rotate.js"></script>
<script src="scripts/top.js"></script>

<script type="text/javascript">
    var neod3 = new Neod3Renderer();
    var connection = function () {
        configStr = localStorage.getItem("neoconfig");
        configJSON = JSON.parse(configStr)
        console.log(configJSON.NEO_SERVER_URL, configJSON.NEO_SERVER_USER, configJSON.NEO_SERVER_PSW)
        config = {
            url: "http://" + configJSON.NEO_SERVER_URL + ":7474",
            user: configJSON.NEO_SERVER_USER,
            pass: configJSON.NEO_SERVER_PSW
        };
        return config;
    }

    //传入label，callback返回label的列表
    function executeWithCallback(cmd, dislpay, label, callback) {
        var neo = new Neo(connection);
        var labelList = []
        try {
            var query = cmd;
            console.log("Executing Query", query);
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                console.log("Executing Query res: ", res);
                var graph = res.graph;
                if (graph) {
                    if (graph.nodes) {
                        for (item in graph.nodes) {
                            console.log("Executing Query item: ", label, item, graph.nodes[item]);
                            if (graph.nodes[item]["label"] == label) {
                                labelList.push(graph.nodes[item])
                            }
                        }
                    }
                    //console.log("Executing Query labelList: ", label, labelList);
                    callback(labelList);
                    if (dislpay) {
                        var c = $("#graph");
                        c.empty();
                        neod3.render("graph", c, graph);
                    }

                } else {
                    if (err) {
                        console.log(err);
                        if (err.length > 0) {
                            sweetAlert("Cypher error", err[0].code + "\n" + err[0].message, "error");
                        } else {
                            sweetAlert("Ajax " + err.statusText, "Status " + err.status + ": " + err.state(), "error");
                        }
                    }
                }
            });
        } catch (e) {
            console.log(e);
            sweetAlert("Catched error", e, "error");
        }
    }

    function executeWithList(cmd, label) {
        var neo = new Neo(connection);
        var labelList = []
        try {
            var query = cmd;
            console.log("Executing Query", query);
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                //console.log("Executing Query res: ", res);
                var graph = res.graph;
                if (graph) {
                    if (graph.nodes) {
                        for (item in graph.nodes) {
                            console.log("Executing Query item: ", label, item, graph.nodes[item]);
                            if (graph.nodes[item]["label"] == label) {
                                labelList.push(graph.nodes[item])
                            }
                        }
                    }
                    var c = $("#graph");
                    c.empty();
                    neod3.render("graph", c, graph);

                } else {
                    if (err) {
                        console.log(err);
                        if (err.length > 0) {
                            sweetAlert("Cypher error", err[0].code + "\n" + err[0].message, "error");
                        } else {
                            sweetAlert("Ajax " + err.statusText, "Status " + err.status + ": " + err.state(), "error");
                        }
                    }
                }
            });
        } catch (e) {
            console.log(e);
            sweetAlert("Catched error", e, "error");
        }
        return labelList;
    }

    function execute(content) {
        var neo = new Neo(connection);
        try {
            var query = content;
            console.log("Executing Query", query);
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                console.log("Executing Query res: ", res);
                var graph = res.graph;
                if (graph) {
                    var c = $("#graph");
                    c.empty();
                    neod3.render("graph", c, graph);
                } else {
                    if (err) {
                        console.log(err);
                        if (err.length > 0) {
                            sweetAlert("Cypher error", err[0].code + "\n" + err[0].message, "error");
                        } else {
                            sweetAlert("Ajax " + err.statusText, "Status " + err.status + ": " + err.state(), "error");
                        }
                    }
                }
            });
        } catch (e) {
            console.log(e);
            sweetAlert("Catched error", e, "error");
        }
    }

    //查找人名涉及的案件
    function relatedCase() {
        var query = null;
        if ($("#userName").val()) {
            query = "MATCH (n:USER) WHERE n.name=\'" + $("#userName").val() + "\' WITH n MATCH p = (n) - [*1] -> (m:Task) RETURN m,p,n";
        } else {
            query = "MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#userName\").val()---->" + $("#userName").val());
        clearNodeInfo();
        execute(query);
    }

    function clearNodeInfo() {
        //neo pane区域
        $(".nodeId").text("");
        $(".caseId").text("");
        $(".nodeName").text("");
    }

    //TODO 不存在的节点提示
    //对接高检，案卡项溯源
    function trace() {
        var query = null;
        if (document.getElementById("tableData")) {
            document.getElementById("tableData").setAttribute
            ("style", "margin-left:0px;width:1210px");
            document.getElementById("leftContent").setAttribute
            ("style", "display:none");
        }

        console.log("userName is" + $("#userName").val());
        console.log("ankaCount is" + $("#ankaCount").val());

        console.log("timeStartName is" + $("#timeStartName").val());
        console.log("timeEndName is" + $("#timeEndName").val());
        console.log("labelName is" + $("#labelName").val());

        console.log("suanyuaName is " + $("#suyuanName").val());

        if ( ($("#userName").val()) == "" && $("#ankaCount").val() == "" && $("#timeStartName").val()=="" && $("#timeEndName").val() =="" && $("#labelName").val()=="" && $("#suyuanName").val() =="") {
            query = "match(n:CASE) where n.caseId = \'" + jiema() + "\' with n match p = (n) - [*] ->(m:Task) RETURN p";
        } else {
            personContent = ""
            if ($("#userName").val()) {
                personContent = " AND n.操作人=\'" + $("#userName").val() + "\'";
            }

            nodeLimitContent = "";
            if ($("#ankaCount").val()) {
                nodeLimitContent = " MATCH p = (n) - [*" + $("#ankaCount").val() + "..] -> (m) ";
            } else {
                nodeLimitContent = " MATCH p = (n) - [*] -> (m) ";
            }

            timeContent = ""
            if ($("#timeStartName").val() && $("#timeEndName").val()) {
                var timeStart = new Date($("#timeStartName").val());
                var vYear1 = timeStart.getFullYear();
                var vMon1 = timeStart.getMonth() + 1;
                var vDay1 = timeStart.getDate();
                var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
                var timeEnd = new Date($("#timeEndName").val());
                var vYear2 = timeEnd.getFullYear();
                var vMon2 = timeEnd.getMonth() + 1;
                var vDay2 = timeEnd.getDate();
                var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
                console.log("timeStar is " + timeStart);

                if ($("#timeStartName").val() == $("#timeEndName").val()) {
                    EndTime = EndTime + 1;
                }
                timeContent = " AND n.timestamp>=\'" + StartTime * 1000000 + "\' AND n.timestamp<\'" + EndTime * 1000000 + "\' ";
            }

            categoryContent = "";
            if ($("#labelName").val()) {
                categoryContent = " AND m.案卡项类型=\'" + $("#labelName").val() + "\' ";
            }

            lableContent = "";
            if ($("#suyuanName").val()) {
                lableContent = " AND m.name=\'" + $("#suyuanName").val() + "\' ";
            }

            query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' "
                + timeContent
                + personContent
                +" WITH n " + nodeLimitContent + " where m.caseId<>''  "
                + lableContent
                + categoryContent + " RETURN m,p";
        }



        //
        // if ($("#suyuanName").val() && $("#timeStartName").val() && $("#timeEndName").val() && $("#userName").val() && $("#labelName").val() && $("#ankaCount").val() == "") {
        //     var timeStart = new Date($("#timeStartName").val());
        //     var vYear1 = timeStart.getFullYear();
        //     var vMon1 = timeStart.getMonth() + 1;
        //     var vDay1 = timeStart.getDate();
        //     var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //     var timeEnd = new Date($("#timeEndName").val());
        //     var vYear2 = timeEnd.getFullYear();
        //     var vMon2 = timeEnd.getMonth() + 1;
        //     var vDay2 = timeEnd.getDate();
        //     var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //     console.log("timeStar is " + timeStart);
        //
        //     if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //         EndTime = EndTime + 1;
        //     }
        //     query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //         "\' AND n.timestamp<\'" + EndTime * 1000000 + "\' " + "AND n.操作人=\'" + $("#userName").val() +
        //         "\' WITH n MATCH p = (n) - [*] -> (m) where m.name=\'"
        //         + $("#suyuanName").val() + "\' " + categoryContent + " RETURN m,p";
        // } else if ($("#suyuanName").val() && $("#timeStartName").val() && $("#timeEndName").val() && $("#userName").val() && $("#labelName").val() == "" && $("#ankaCount").val() == "") {
        //     var timeStart = new Date($("#timeStartName").val());
        //     var vYear1 = timeStart.getFullYear();
        //     var vMon1 = timeStart.getMonth() + 1;
        //     var vDay1 = timeStart.getDate();
        //     var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //     var timeEnd = new Date($("#timeEndName").val());
        //     var vYear2 = timeEnd.getFullYear();
        //     var vMon2 = timeEnd.getMonth() + 1;
        //     var vDay2 = timeEnd.getDate();
        //     var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //     if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //         EndTime = EndTime + 1;
        //     }
        //     query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //         "\' AND n.timestamp<\'" + EndTime * 1000000 + "\' " + "AND n.操作人=\'" + $("#userName").val() +
        //         "\' WITH n MATCH p = (n) - [*] -> (m) where m.name=\'"
        //         + $("#suyuanName").val() + "\' " + categoryContent + " RETURN m,p";
        // } else if ($("#suyuanName").val() && $("#timeStartName").val() && $("#timeEndName").val() && $("#labelName").val() == "" && $("#userName").val() == "" && $("#ankaCount").val() == "") {
        //     var timeStart = new Date($("#timeStartName").val());
        //     var vYear1 = timeStart.getFullYear();
        //     var vMon1 = timeStart.getMonth() + 1;
        //     var vDay1 = timeStart.getDate();
        //     var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //     var timeEnd = new Date($("#timeEndName").val());
        //     var vYear2 = timeEnd.getFullYear();
        //     var vMon2 = timeEnd.getMonth() + 1;
        //     var vDay2 = timeEnd.getDate();
        //     var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //     if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //         EndTime = EndTime + 1;
        //     }
        //     query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //         "\' AND n.timestamp<\'" + EndTime * 1000000 + "\' WITH n MATCH p = (n) - [*] -> (m) where m.name=\'" + $("#suyuanName").val() + "\' " + categoryContent + " RETURN m,p";
        // } else if ($("#suyuanName").val() && $("#timeStartName").val() == "" && $("#timeEndName").val() == "" && $("#userName").val() == "" && $("#labelName").val() == "" && $("#ankaCount").val() == "") {
        //     query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' WITH n MATCH p = (n) - [*] -> (m) where m.name=\'" + $("#suyuanName").val() + "\' " + categoryContent + " RETURN m,p";
        // } else {
        //
        //     if ($("#timeStartName").val() && $("#timeEndName").val() && $("#suyuanName").val() == "" && $("#userName").val() == "" && $("#labelName").val() == "" && $("#ankaCount").val() == "") {
        //         var timeStart = new Date($("#timeStartName").val());
        //         var vYear1 = timeStart.getFullYear();
        //         var vMon1 = timeStart.getMonth() + 1;
        //         var vDay1 = timeStart.getDate();
        //         var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //         var timeEnd = new Date($("#timeEndName").val());
        //         var vYear2 = timeEnd.getFullYear();
        //         var vMon2 = timeEnd.getMonth() + 1;
        //         var vDay2 = timeEnd.getDate();
        //         var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //         if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //             EndTime = EndTime + 1;
        //         }
        //         query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //             "\' AND n.timestamp<\'" + EndTime * 1000000 + "\' WITH n MATCH p = (n) - [*] -> (m) RETURN m,p";
        //     } else if ($("#timeStartName").val() && $("#timeEndName").val() && $("#suyuanName").val() == "" && $("#userName").val() == "" && $("#labelName").val() && $("#ankaCount").val() == "") {
        //         var timeStart = new Date($("#timeStartName").val());
        //         var vYear1 = timeStart.getFullYear();
        //         var vMon1 = timeStart.getMonth() + 1;
        //         var vDay1 = timeStart.getDate();
        //         var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //         var timeEnd = new Date($("#timeEndName").val());
        //         var vYear2 = timeEnd.getFullYear();
        //         var vMon2 = timeEnd.getMonth() + 1;
        //         var vDay2 = timeEnd.getDate();
        //         var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //         count = $("#labelName").val();
        //         if ($("#labelName").val() == '所有') {
        //             count = 10000;
        //         }
        //         if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //             EndTime = EndTime + 1;
        //         }
        //         query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //             "\' AND n.timestamp<\'" + EndTime * 1000000 + "\' WITH n MATCH p = (n) - [*] -> (m) RETURN m,p limit " + count;
        //     } else if ($("#timeStartName").val() == "" && $("#timeEndName").val() == "" && $("#suyuanName").val() == "" && $("#userName").val() && $("#labelName").val() == "" && $("#ankaCount").val() == "") {
        //         query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.操作人=\'" + $("#userName").val() +
        //             "\' WITH n MATCH p = (n) - [*] -> (m)  RETURN m,p";
        //     } else if ($("#timeStartName").val() == "" && $("#timeEndName").val() == "" && $("#suyuanName").val() == "" && $("#userName").val() && $("#labelName").val() && $("#ankaCount").val() == "") {
        //         count = $("#labelName").val();
        //         if ($("#labelName").val() == '所有') {
        //             count = 10000;
        //         }
        //         query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.操作人=\'" + $("#userName").val() +
        //             "\' WITH n MATCH p = (n) - [*] -> (m)  RETURN m,p limit " + count;
        //     } else if ($("#timeStartName").val() && $("#timeEndName").val() && $("#suyuanName").val() == "" && $("#userName").val() && $("#labelName").val() == "" && $("#ankaCount").val() == "") {
        //         var timeStart = new Date($("#timeStartName").val());
        //         var vYear1 = timeStart.getFullYear();
        //         var vMon1 = timeStart.getMonth() + 1;
        //         var vDay1 = timeStart.getDate();
        //         var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //         var timeEnd = new Date($("#timeEndName").val());
        //         var vYear2 = timeEnd.getFullYear();
        //         var vMon2 = timeEnd.getMonth() + 1;
        //         var vDay2 = timeEnd.getDate();
        //         var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //         console.log("timeStar is " + timeStart);
        //         if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //             EndTime = EndTime + 1;
        //         }
        //         query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //             "\' AND n.timestamp<\'" + EndTime * 1000000 + "\' " + "AND n.操作人=\'" + $("#userName").val() +
        //             "\' WITH n MATCH p = (n) - [*] -> (m) RETURN m,p";
        //     } else if ($("#timeStartName").val() && $("#timeEndName").val() && $("#suyuanName").val() == "" && $("#userName").val() && $("#labelName").val() && $("#ankaCount").val() == "") {
        //         var timeStart = new Date($("#timeStartName").val());
        //         var vYear1 = timeStart.getFullYear();
        //         var vMon1 = timeStart.getMonth() + 1;
        //         var vDay1 = timeStart.getDate();
        //         var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //         var timeEnd = new Date($("#timeEndName").val());
        //         var vYear2 = timeEnd.getFullYear();
        //         var vMon2 = timeEnd.getMonth() + 1;
        //         var vDay2 = timeEnd.getDate();
        //         var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //         count = $("#labelName").val();
        //         if ($("#labelName").val() == '所有') {
        //             count = 10000;
        //         }
        //         if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //             EndTime = EndTime + 1;
        //         }
        //         query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //             "\' AND n.timestamp<\'" + EndTime * 1000000 + "\' " + "AND n.操作人=\'" + $("#userName").val() +
        //             "\' WITH n MATCH p = (n) - [*] -> (m) RETURN m,p limit " + count;
        //     } else if ($("#timeStartName").val() && $("#timeEndName").val() && $("#suyuanName").val() && $("#userName").val() == "" && $("#labelName").val() && $("#ankaCount").val() == "") {
        //         console.log("时间 + 案卡名字+数量");
        //         var timeStart = new Date($("#timeStartName").val());
        //         var vYear1 = timeStart.getFullYear();
        //         var vMon1 = timeStart.getMonth() + 1;
        //         var vDay1 = timeStart.getDate();
        //         var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //         var timeEnd = new Date($("#timeEndName").val());
        //         var vYear2 = timeEnd.getFullYear();
        //         var vMon2 = timeEnd.getMonth() + 1;
        //         var vDay2 = timeEnd.getDate();
        //         var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //         console.log("timeStar is " + timeStart);
        //         count = $("#labelName").val();
        //         if ($("#labelName").val() == '所有') {
        //             count = 10000;
        //         }
        //         if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //             EndTime = EndTime + 1;
        //         }
        //         query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //             "\' AND n.timestamp<\'" + EndTime * 1000000 +
        //             "\' WITH n MATCH p = (n) - [*] -> (m) where m.name=\'"
        //             + $("#suyuanName").val() + "\' RETURN m,p limit " + count;
        //     } else if ($("#timeStartName").val() == "" && $("#timeEndName").val() == "" && $("#suyuanName").val() && $("#userName").val() && $("#labelName").val() == "" && $("#ankaCount").val() == "") {
        //         query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.操作人=\'" + $("#userName").val() +
        //             "\' WITH n MATCH p = (n) - [*] -> (m) where m.name=\'"
        //             + $("#suyuanName").val() + "\' RETURN m,p";
        //     } else if ($("#timeStartName").val() == "" && $("#timeEndName").val() == "" && $("#suyuanName").val() && $("#userName").val() && $("#labelName").val() && $("#ankaCount").val() == "") {
        //         count = $("#labelName").val();
        //         if ($("#labelName").val() == '所有') {
        //             count = 10000;
        //         }
        //         query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' AND n.操作人=\'" + $("#userName").val() +
        //             "\' WITH n MATCH p = (n) - [*] -> (m) where m.name=\'"
        //             + $("#suyuanName").val() + "\' RETURN m,p limit " + count;
        //     } else if ($("#timeStartName").val() == "" && $("#timeEndName").val() == "" && $("#suyuanName").val() && $("#userName").val() == "" && $("#labelName").val() == "" && $("#ankaCount").val()) {
        //         query = "MATCH (n) WHERE n.caseId =\'" + jiema() +
        //             "\' WITH n MATCH p = (n) - [*" + $("#ankaCount").val() + "..] -> (m) " +
        //             "where m.name=\'" + $("#suyuanName").val() + "\' RETURN m,p";
        //     } else if ($("#timeStartName").val() == "" && $("#timeEndName").val() == "" && $("#suyuanName").val() && $("#userName").val() && $("#labelName").val() == "" && $("#ankaCount").val()) {
        //         query = "MATCH (n) WHERE n.caseId =\'" + jiema() + "\' AND n.操作人=\'" + $("#userName").val() +
        //             "\' WITH n MATCH p = (n) - [*" + $("#ankaCount").val() + "..] -> (m) " +
        //             "where m.name=\'" + $("#suyuanName").val() + "\' RETURN m,p";
        //     } else if ($("#timeStartName").val() && $("#timeEndName").val() && $("#suyuanName").val() && $("#userName").val() == "" && $("#labelName").val() == "" && $("#ankaCount").val()) {
        //         var timeStart = new Date($("#timeStartName").val());
        //         var vYear1 = timeStart.getFullYear();
        //         var vMon1 = timeStart.getMonth() + 1;
        //         var vDay1 = timeStart.getDate();
        //         var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //         var timeEnd = new Date($("#timeEndName").val());
        //         var vYear2 = timeEnd.getFullYear();
        //         var vMon2 = timeEnd.getMonth() + 1;
        //         var vDay2 = timeEnd.getDate();
        //         var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //         if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //             EndTime = EndTime + 1;
        //         }
        //         query = "MATCH (n) WHERE n.caseId =\'" + jiema()
        //             + "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //             "\' AND n.timestamp<\'" + EndTime * 1000000 +
        //             "\' WITH n MATCH p = (n) - [*" + $("#ankaCount").val() + "..] -> (m) " +
        //             "where m.name=\'" + $("#suyuanName").val() + "\' RETURN m,p";
        //     } else if ($("#timeStartName").val() && $("#timeEndName").val() && $("#suyuanName").val() && $("#userName").val() && $("#labelName").val() == "" && $("#ankaCount").val()) {
        //         var timeStart = new Date($("#timeStartName").val());
        //         var vYear1 = timeStart.getFullYear();
        //         var vMon1 = timeStart.getMonth() + 1;
        //         var vDay1 = timeStart.getDate();
        //         var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //         var timeEnd = new Date($("#timeEndName").val());
        //         var vYear2 = timeEnd.getFullYear();
        //         var vMon2 = timeEnd.getMonth() + 1;
        //         var vDay2 = timeEnd.getDate();
        //         var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //         if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //             EndTime = EndTime + 1;
        //         }
        //         query = "MATCH (n) WHERE n.caseId =\'" + jiema() + "\' AND n.操作人=\'" + $("#userName").val() +
        //             "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //             "\' AND n.timestamp<\'" + EndTime * 1000000 +
        //             "\' WITH n MATCH p = (n) - [*" + $("#ankaCount").val() + "..] -> (m) " +
        //             "where m.name=\'" + $("#suyuanName").val() + "\' RETURN m,p";
        //     } else if ($("#timeStartName").val() == "" && $("#timeEndName").val() == "" && $("#suyuanName").val() == "" && $("#userName").val() && $("#labelName").val() == "" && $("#ankaCount").val()) {
        //         query = "MATCH (n) WHERE n.caseId =\'" + jiema() + "\' AND n.操作人=\'" + $("#userName").val() +
        //             "\' WITH n MATCH p = (n) - [*" + $("#ankaCount").val() + "..] -> (m) RETURN m,p";
        //     } else if ($("#timeStartName").val() == "" && $("#timeEndName").val() == "" && $("#suyuanName").val() == "" && $("#userName").val() == "" && $("#labelName").val() == "" && $("#ankaCount").val()) {
        //         query = "MATCH (n) WHERE n.caseId =\'" + jiema() +
        //             "\' WITH n MATCH p = (n) - [*" + $("#ankaCount").val() + "..] -> (m) RETURN m,p";
        //     } else if ($("#timeStartName").val() && $("#timeEndName").val() && $("#suyuanName").val() == "" && $("#userName").val() && $("#labelName").val() == "" && $("#ankaCount").val()) {
        //         var timeStart = new Date($("#timeStartName").val());
        //         var vYear1 = timeStart.getFullYear();
        //         var vMon1 = timeStart.getMonth() + 1;
        //         var vDay1 = timeStart.getDate();
        //         var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //         var timeEnd = new Date($("#timeEndName").val());
        //         var vYear2 = timeEnd.getFullYear();
        //         var vMon2 = timeEnd.getMonth() + 1;
        //         var vDay2 = timeEnd.getDate();
        //         var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //         if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //             EndTime = EndTime + 1;
        //         }
        //         query = "MATCH (n) WHERE n.caseId =\'" + jiema() + "\' AND n.操作人=\'" + $("#userName").val() +
        //             "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //             "\' AND n.timestamp<\'" + EndTime * 1000000 +
        //             "\' WITH n MATCH p = (n) - [*" + $("#ankaCount").val() + "..] -> (m) RETURN m,p";
        //     } else if ($("#timeStartName").val() && $("#timeEndName").val() && $("#suyuanName").val() == "" && $("#userName").val() == "" && $("#labelName").val() == "" && $("#ankaCount").val()) {
        //         var timeStart = new Date($("#timeStartName").val());
        //         var vYear1 = timeStart.getFullYear();
        //         var vMon1 = timeStart.getMonth() + 1;
        //         var vDay1 = timeStart.getDate();
        //         var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
        //         var timeEnd = new Date($("#timeEndName").val());
        //         var vYear2 = timeEnd.getFullYear();
        //         var vMon2 = timeEnd.getMonth() + 1;
        //         var vDay2 = timeEnd.getDate();
        //         var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
        //         if ($("#timeStartName").val() == $("#timeEndName").val()) {
        //             EndTime = EndTime + 1;
        //         }
        //         query = "MATCH (n) WHERE n.caseId =\'" + jiema() +
        //             "\' AND n.timestamp>=\'" + StartTime * 1000000 +
        //             "\' AND n.timestamp<\'" + EndTime * 1000000 +
        //             "\' WITH n MATCH p = (n) - [*" + $("#ankaCount").val() + "..] -> (m) RETURN m,p";
        //     } else {
        //         query = "match(n:CASE) where n.caseId = \'" + jiema() + "\' with n match p = (n) - [*] ->(m:Task) RETURN p";
        //     }
        // }

        clearNodeInfo();
        execute(query);
    }

    var url = window.location.href;//得到页面的url
    var URL_decode = decodeURI(decodeURI(url));//对含有中文的url进行解码,注意是两次解码
    console.log(URL_decode);

    //自定义获取URL中某一参数的封装函数
    function GetQueryString_new(key) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = URL_decode.substr(1).match(reg);//注意这里使用的是解码之后的URL_decode
        if (r != null) {
            return unescape(r[2]);//2017年12月11日--注意：这里有个解密的操作。
        } else {
            return null;
        }
    }

    function jiema() {
        var index_1 = URL_decode.indexOf("=");
        str_1 = URL_decode.substring(index_1 + 1);
        var index_2 = str_1.indexOf("=")
        str_2 = str_1.substring(index_2 + 1);
        return str_2
        console.log(str_2);
    }

    window.onload = (function () {
        var query = null;
        document.getElementById("displayCaseId").innerHTML = jiema();
        document.getElementById("displayLeiBie").innerHTML = "刑事检察";
        query = "match(n:CASE) where n.caseId = \'" + jiema() + "\' with n match p = (n) - [*] ->(m:Task) RETURN p";
        clearNodeInfo();
        execute(query);
    });

</script>
</body>
</html>