<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>世系数据</title>
    <link rel="stylesheet" href="styles/dhtmlxgantt.css?v=7.0.11">
    <link rel="stylesheet" href="styles/codemirror.css">
    <link rel="stylesheet" href="styles/codemirror-neo.css">
    <link rel="stylesheet" href="styles/cy2neo.css">

    <link rel="stylesheet" href="styles/datatable.css">
    <link rel="stylesheet" href="styles/vendor.css"> <!-- bootstrap-->
    <link rel="stylesheet" href="styles/sweet-alert.css">
    <link rel="stylesheet" href="styles/gh-fork-ribbon.css">
    <link rel="stylesheet" href="styles/TimeLine.css">
    <style>

    </style>
</head>
<body>
<div style="float:right;margin-right: 10px" id = "label_spread">
    👇
</div>
<div style = "display:none" id = "table_select">
    <div style="margin-bottom: 2px;">
        <label id="suyuanNameLabel"
               style="position: absolute;margin-top: 6px;">案卡项名称</label>
        <div class="col-lg-6" style="width:420px;margin-left: 70px">
            <input type="text" class="form-control" id="suyuanName" placeholder=""
                   style="  margin-left:20px">
        </div>
        <label id="userNameLabel"
               style="position: absolute;margin-top: 6px;margin-left: 20px">办案人姓名</label>
        <div class="col-lg-6" style="width:447px ;margin-left: 90px">
            <input type="text" class="form-control" id="userName" placeholder=""
                   style=" margin-left:13px">
        </div>
    </div>

    <div class="col-lg-6" style="width:420px ;margin-left:70px">
        <label id="timeStartNameLabel"
               style="position: absolute;margin-top: 6px;margin-left:-85px">起始时间</label>
        <input type="date" class="form-control" id="timeStartName" placeholder="请输入起始时间"
               style="margin-left:20px">
    </div><!-- /input-group -->
    <!--    <p style="color:#939282;margin-top: 42px;position: absolute;margin-left: 507px;"> 至 </p>-->
    <div class="col-lg-6" style="width:447px;margin-left: 90px">
        <label id="timeEndNameLabel"
               style="position: absolute;margin-top: 6px;margin-left:-85px">截止时间</label>
        <input type="date" class="form-control" id="timeEndName" placeholder="请输入截至时间"
               style=" margin-left:13px">
    </div>
    <div class="col-lg-6" style="width:420px;margin-left:70px">
        <label id="ankaCountaLabel"
               style="position: absolute;margin-top: 6px;margin-left:-85px">案卡最少修改数</label>
        <input type="text" class="form-control" id="ankaCount"
               style="margin-left:20px" placeholder="">
    </div>
    <div class="col-lg-6" style="width:447px;margin-left:5px">
        <label id="labelNameLabel"
               style="position: absolute;margin-top: 6px;">案卡项数据类型</label>
        <input type="text" class="form-control" id="labelName" placeholder="" list="itemlist"
               style="margin-left:100px">
        <datalist id="itemlist">
            <option value="人员相关">人员相关</option>
            <option value="案件相关">案件相关</option>
            <option value="其他">其他</option>
        </datalist>
        <button onclick="trace()" class="btn btn-default" style="width: 100px;margin-top: -58px;margin-left:550px"
                type="button">溯源查找
        </button>
    </div>
</div>
    <div id="suyuanDataId">

    </div>


</div>
<div>
<div id = "huanjie_detail" style="position: absolute;z-index: 101">▶</div>
<div id="gantt_here" style='width:100%; height:90%;position: absolute;float:right;z-index: 100;display: none' ></div>

<div id = "anka_table" style = "overflow:auto;width:325px;
height: 320px;position:absolute; margin-top:4px;z-index: 10;margin-left:3px;display:none">
<table style = "" id = "anka_table_data">
    <thead>
    <tr>
        <th id = "anka_table_data_ren">（案卡项变化）人员相关</th>
        <th id = "anka_table_data_anjian">（案卡项变化）案件相关</th>
        <th id = "anka_table_data_other">（案卡项变化）其他</th>
    </tr>
    </thead>
    <tbody id="J_TbData">
    </tbody>
</table>
    <div id = "un_use_anka_id" style = "color:orange;margin-left: 110px">未被使用案卡项</div>
</div>
    <div id = "unuse_anka_data_id" style = "display: none;margin-top: 325px; overflow:auto;
    position: absolute;width:325px;height: 290px;z-index: 10;">
        <table style = "" id = "un_anka_table_data">
            <thead>
            <tr>
                <th id = "un_anka_table_data_ren">人员相关</th>
                <th id = "un_anka_table_data_anjian">案件相关</th>
                <th id = "un_anka_table_data_other">其他</th>
            </tr>
            </thead>
            <tbody id="UN_J_TbData">
            </tbody>
        </table>
    </div>

<div id="leftContent" style="position:absolute;width:300px;height: 620px;
    display: none;border-right: 3px solid lightgray;z-index: 10">
    <div style="float: left;width:90%;margin-left:-20px">
        <ul class="timeline" id="timelineId">
            <li>
                <div class="time">2020</div>
                <div class="version">11-20</div>
                <div class="timeBananName">测试账号0102</div>
                <div class="number">
                </div>
                <div id="content201308" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人已移送检方<br/>
                    </div>
                </div>
            </li>
            <li>
                <div class="time">2020</div>
                <div class="version">11-20</div>
                <div class="timeBananName">张某某</div>
                <div class="number">
                </div>
                <div id="content201307" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人张三已移送检方<br/>
                    </div>
                </div>
            </li>
            <li>
                <div class="time">2020</div>
                <div class="version">11-21</div>
                <div class="timeBananName">李某某</div>
                <div class="number">
                </div>
                <div id="content201305" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人张三已移送检方，同案其他信息正在跟进<br/>
                    </div>
                </div>
            </li>
            <li>
                <div class="time">2020</div>
                <div class="version">11-15</div>
                <div class="timeBananName">贺甲</div>
                <div class="number">
                </div>
                <div id="content201301" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人张三已移送检方，同案其他信息正在跟进,相关文书已经制作<br/>
                    </div>
                </div>
            </li>
            <li>
                <div class="time">2020</div>
                <div class="version">11-20</div>
                <div class="timeBananName">张戊</div>
                <div class="number">
                </div>
                <div id="content201302" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人张三已移送检方，同案其他信息正在跟进,相关文书已经制作,提出申诉<br/>
                    </div>
                </div>
            </li>
            <li>
                <div class="time">2020</div>
                <div class="version">11-21</div>
                <div class="timeBananName">丁某某</div>
                <div class="number">
                </div>
                <div id="content201303" class="content">
                    <div class="divCount">
                        -犯罪嫌疑人张三已移送检方，同案其他信息正在跟进,相关文书已经制作,提出申诉,退回<br/>
                    </div>
                </div>
            </li>
        </ul>
        <a id="returnTop" href="javascript:;">回到顶部</a>
    </div>
</div>
<div role="tabpanel">
    <div class="tab-content" style="
    position:absolute;height: 620px;border:3px solid lightgray;width:1210px">
        <div id="displayLabel" style = "float: right;position: relative;display:none" class = "displayLabelCLass">
            <p id = "displayLeiBie"
               style = "margin-top:10px;margin-right: 10px;font-weight: bold;
           color: #187526;font-size: 14px;font-family: 'Arial Black'">123</p>
            <p id = "displayCaseId"
               style = "margin-top:10px;margin-right: 10px;font-weight: bold;
           color: #187526;font-size: 14px;font-family: 'Arial Black'">456</p>
        </div>
        <div role="tabpanel" id="tableData" class="tab-pane active" style="height: 610px">
            <div class="tab-pane active" id="graph" style="height: 600px">&nbsp;</div>
        </div>
        <div role="tabpanel" class="tab-pane" id="table">
            <div id="datatable"></div>
        </div>

    </div>

</div>

<script src="scripts/dhtmlxgantt_neodata.js?v=7.0.11"></script>
<script src="scripts/testdata.js?v=7.0.11"></script>

<script src="scripts/codemirror.js"></script>
<script src="scripts/codemirror-cypher.js"></script>
<script src="scripts/vendor.js"></script>
<script src="scripts/neod3.js"></script>
<script src="scripts/neod3-visualization.js"></script>
<script src="scripts/neo4d3.js"></script>
<script src="scripts/cy2neod3.js"></script>
<script src="scripts/jquery.dataTables.min.js"></script>
<script src="scripts/cypher.datatable.js"></script>
<script src="scripts/sweet.js"></script>

<script src="scripts/jquery.masonry.min.js"></script>
<script src="scripts/jquery.rotate.js"></script>
<script src="scripts/top.js"></script>

<script type="text/javascript">
    var neod3 = new Neod3Renderer();
    var neod3_1 = new Neod3Renderer1();
    var connection = function () {
        configStr = localStorage.getItem("neoconfig");
        configJSON = JSON.parse(configStr)
        console.log(configJSON.NEO_SERVER_URL, configJSON.NEO_SERVER_USER, configJSON.NEO_SERVER_PSW)
        config = {
            url: "http://" + configJSON.NEO_SERVER_URL + ":7474",
            user: configJSON.NEO_SERVER_USER,
            pass: configJSON.NEO_SERVER_PSW
        };
        return config;
    }

    //传入label，callback返回label的列表
    function executeWithCallback(cmd, dislpay, label, callback) {
        var neo = new Neo(connection);
        var labelList = []
        try {
            var query = cmd;
            console.log("Executing Query", query);
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                console.log("Executing Query res: ", res);
                var graph = res.graph;
                if (graph) {
                    if (graph.nodes) {
                        for (item in graph.nodes) {
                            console.log("Executing Query item: ", label, item, graph.nodes[item]);
                            if (graph.nodes[item]["label"] == label) {
                                labelList.push(graph.nodes[item])
                            }
                        }
                    }
                    //console.log("Executing Query labelList: ", label, labelList);
                    callback(labelList);
                    if (dislpay) {
                        var c = $("#graph");
                        c.empty();
                        neod3.render("graph", c, graph);
                    }

                } else {
                    if (err) {
                        console.log(err);
                        if (err.length > 0) {
                            sweetAlert("Cypher error", err[0].code + "\n" + err[0].message, "error");
                        } else {
                            sweetAlert("Ajax " + err.statusText, "Status " + err.status + ": " + err.state(), "error");
                        }
                    }
                }
            });
        } catch (e) {
            console.log(e);
            sweetAlert("Catched error", e, "error");
        }
    }

    function executeWithList(cmd, label) {
        var neo = new Neo(connection);
        var labelList = []
        try {
            var query = cmd;
            console.log("Executing Query", query);
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                //console.log("Executing Query res: ", res);
                var graph = res.graph;
                if (graph) {
                    if (graph.nodes) {
                        for (item in graph.nodes) {
                            console.log("Executing Query item: ", label, item, graph.nodes[item]);
                            if (graph.nodes[item]["label"] == label) {
                                labelList.push(graph.nodes[item])
                            }
                        }
                    }
                    var c = $("#graph");
                    c.empty();
                    neod3.render("graph", c, graph);

                } else {
                    if (err) {
                        console.log(err);
                        if (err.length > 0) {
                            sweetAlert("Cypher error", err[0].code + "\n" + err[0].message, "error");
                        } else {
                            sweetAlert("Ajax " + err.statusText, "Status " + err.status + ": " + err.state(), "error");
                        }
                    }
                }
            });
        } catch (e) {
            console.log(e);
            sweetAlert("Catched error", e, "error");
        }
        return labelList;
    }
    function execute(content) {
        var neo = new Neo(connection);
        try {
            var query = content;
            console.log("Executing Query", query);
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                console.log("Executing Query res: ", res);
                var graph = res.graph;
                if (graph) {
                    var c = $("#graph");
                    c.empty();
                    neod3.render("graph", c, graph);
                } else {
                    if (err) {
                        if (err.length > 0) {
                        } else {
                        }
                    }
                }
            });
        } catch (e) {
        }
    }
    function execute1(content,node_id) {
        var neo = new Neo(connection);
        try {
            var query = "match (n) where ID(n) = "+node_id+" with n match p = (n) - [r:相关] ->(m) return p";
            console.log("Executing Query", query);
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                console.log("Executing Query res: ", res);
                var graph = res.graph;
                if (graph) {
                    var c = $("#graph");
                    c.empty();
                    neod3_1.render("graph", c, graph);
                    window.setTimeout(function(){
                        try{
                            neo.executeQuery(query, {}, function (err, res1) {
                                var node = document.getElementsByClassName("layer nodes")[0];
                                var graph_node = res1.graph.nodes;
                                var list_node = node.children;
                                table_data(node_id);
                                var map = new Map();
                                var keys = map.keys();
                                var values = map.values();

                                var key = new Array();
                                var value = new Array();
                                for(var i = 0;i < graph_node.length;i++){
                                   // console.log(graph_node[i].name);
                                    if(graph_node[i].name.indexOf("编码") == -1){
                                        if(graph_node[i].name.indexOf("代码") == -1){
                                            var str = graph_node[i].name.substring(0,3);
                                            if(map.has(str)){
                                                map.set(str,map.get(str) + 1);
                                            }
                                            else {
                                                map.set(str,0);
                                            }
                                        }

                                    }
                                }
                                for(var i = 0;i < map.size;i++){
                                    key[i] = keys.next().value;
                                    value[i] = values.next().value + 1;
                                  //   console.log(key[i] + "...." + value[i]);
                                }
                                for(var i = 0;i < list_node.length;i++){
                                    if(key.includes(list_node[i].children[1].innerHTML)){
                                        list_node[i].children[0].r.baseVal.value = 30 + 5 * (map.get(list_node[i].children[1].innerHTML) - 1);
                                    }
                                }
                            });
                        }catch(e){

                        }
                    },500);
                } else {
                }
            });
        } catch (e) {
        }
    }

    //查找人名涉及的案件
    function relatedCase() {
        var query = null;
        if ($("#userName").val()) {
            query = "MATCH (n:USER) WHERE n.name=\'" + $("#userName").val() + "\' WITH n MATCH p = (n) - [*1] -> (m:Task) RETURN m,p,n";
        } else {
            query = "MATCH (n)-[r]->(m) RETURN n,r,m";
        }
        console.log("$(\"#userName\").val()---->" + $("#userName").val());
        clearNodeInfo();
        execute(query);
    }



    function clearNodeInfo() {
        //neo pane区域
        $(".nodeId").text("");
        $(".caseId").text("");
        $(".nodeName").text("");
    }

    //TODO 不存在的节点提示
    //对接高检，案卡项溯源
    function trace() {
        var query = null;
        if (document.getElementById("tableData")) {
            document.getElementById("tableData").setAttribute
            ("style", "margin-left:0px;width:1210px");
            document.getElementById("leftContent").setAttribute
            ("style", "display:none");
        }
        if ( ($("#userName").val()) == "" && $("#ankaCount").val() == "" && $("#timeStartName").val()=="" && $("#timeEndName").val() =="" && $("#labelName").val()=="" && $("#suyuanName").val() =="") {
            query = "match(n:CASE) where n.caseId = \'" + jiema() + "\' with n match p = (n) - [*] ->(m:Task) RETURN p";
        } else {
            personContent = ""
            if ($("#userName").val()) {
                personContent = " AND n.操作人=\'" + $("#userName").val() + "\'";
            }

            nodeLimitContent = "";
            if ($("#ankaCount").val()) {
                nodeLimitContent = " MATCH p = (n) - [*" + $("#ankaCount").val() + "..] -> (m) ";
            } else {
                nodeLimitContent = " MATCH p = (n) - [*] -> (m) ";
            }

            timeContent = "";
            if ($("#timeStartName").val() && $("#timeEndName").val()) {
                var timeStart = new Date($("#timeStartName").val());
                var vYear1 = timeStart.getFullYear();
                var vMon1 = timeStart.getMonth() + 1;
                var vDay1 = timeStart.getDate();
                var StartTime = vYear1 * 10000 + vMon1 * 100 + vDay1;
                var timeEnd = new Date($("#timeEndName").val());
                var vYear2 = timeEnd.getFullYear();
                var vMon2 = timeEnd.getMonth() + 1;
                var vDay2 = timeEnd.getDate();
                var EndTime = vYear2 * 10000 + vMon2 * 100 + vDay2 + 1;
                console.log("timeStar is " + timeStart);

                if ($("#timeStartName").val() == $("#timeEndName").val()) {
                    EndTime = EndTime + 1;
                }
                timeContent = " AND n.timestamp>=\'" + StartTime * 1000000 + "\' AND n.timestamp<\'" + EndTime * 1000000 + "\' ";
            }

            categoryContent = "";
            if ($("#labelName").val()) {
                categoryContent = " AND m.案卡项类型=\'" + $("#labelName").val() + "\' ";
            }

            lableContent = "";
            if ($("#suyuanName").val()) {
                lableContent = " AND m.name=\'" + $("#suyuanName").val() + "\' ";
            }

            query = "MATCH (n) WHERE n.caseId=\'" + jiema() + "\' "
                + timeContent
                + personContent
                +" WITH n " + nodeLimitContent + " where m.caseId<>''  "
                + lableContent
                + categoryContent + " RETURN m,p";
        }

        clearNodeInfo();
        execute(query);
        }



    //自定义获取URL中某一参数的封装函数
    function GetQueryString_new(key) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = URL_decode.substr(1).match(reg);//注意这里使用的是解码之后的URL_decode
        if (r != null) {
            return unescape(r[2]);//2017年12月11日--注意：这里有个解密的操作。
        } else {
            return null;
        }
    }

    function jiema() {
        var url = window.location.href;//得到页面的url
        var URL_decode = decodeURI(decodeURI(url));//对含有中文的url进行解码,注意是两次解码
        var index_1 = URL_decode.indexOf("=");
        str_1 = URL_decode.substring(index_1 + 1);
        var index_2 = str_1.indexOf("=")
        str_2 = str_1.substring(index_2 + 1);
        return str_2
        //return "东检刑诉受[2019]770000101702号";
    }
    window.onload = (function () {
        var query = null;
        document.getElementById("displayCaseId").innerHTML = jiema();
        document.getElementById("displayLeiBie").innerHTML = localStorage.getItem("LeiBieName");
        query = "match(n:CASE) where n.caseId = \'" + jiema() + "\' with n match p = (n) - [*] ->(m:Task) RETURN p";
        document.getElementById("label_spread").onclick = function(){
            if(document.getElementById("table_select").style.display == "none") {
                document.getElementById("table_select").style.display = "block"
            }
            else{
                document.getElementById("table_select").style.display = "none"
            }
        }
        clearNodeInfo();
        execute(query);
    });

    function BanAnRen() {
        window.location.href="http://localhost:8083/hxyActiviti/neoBan.html?bmsah="+localStorage.getItem("LeiBieName");;
    }


</script>
<script>
    document.getElementById("un_use_anka_id").onclick  = function () {
        var un_other_data = [];
        var un_case_data = [];
        var un_name_data = [];
        var data = [];
        $.ajax({
            type: "get",
            async: false,
            url: "/hxyActiviti/demo/ak/aklb",
            success: function (res) {
                if (res) {

                    for (i in res) {
                        if (res[i].category == '其他' && !un_other_data.includes(res[i].cn)) {
                            un_other_data.push(res[i].cn);
                        }
                        if (res[i].category == '案件相关' && !un_case_data.includes(res[i].cn)) {
                            un_case_data.push(res[i].cn)
                        }
                        if (res[i].category == '人员相关' && !un_name_data.includes(res[i].cn)) {
                            un_name_data.push(res[i].cn)
                        }
                    }
                    for(i = 0;i < un_other_data.length;i++) {
                        if(un_other_data[i] == undefined) un_other_data[i] = "";
                        if(un_case_data[i] == undefined) un_case_data[i] = "";
                        if(un_name_data[i] == undefined) un_name_data[i] = "";
                        data.push({name: un_name_data[i], case: un_case_data[i], other: un_other_data[i]});
                    }
                }
                $("#UN_J_TbData").empty();
                for( var i = 0; i < data.length; i++ ) {
                    var $trTemp = $("<tr></tr>");

                    $trTemp.append("<td>"+ data[i].name +"</td>");
                    $trTemp.append("<td>"+ data[i].case +"</td>");
                    $trTemp.append("<td>"+ data[i].other +"</td>");
                    $trTemp.appendTo("#UN_J_TbData");
                }
                if(document.getElementById("unuse_anka_data_id").style.display == "none"){
                    document.getElementById("unuse_anka_data_id").style.display = "block"
                }
                else{
                    document.getElementById("unuse_anka_data_id").style.display = "none"
                }
            }
        });
    }
    function table_data(node_id){
        var data = [];
        name_data = [];
        case_data = [];
        other_data = [];
        var graph_node = [];
        var neo = new Neo(connection);
        var map = new Map();
        try {
            var query = "match (n) where ID(n) = "+node_id+" with n match p = (n) - [r:相关] ->(m) return p";
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                var graph = res.graph;
                if (graph) {
                    graph_node = graph.nodes;
                }
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/hxyActiviti/demo/ak/aklb",
                    success: function (res) {
                        if (res) {
                            for(var i = 0;i < graph_node.length;i++){
                                var str = graph_node[i].CN_KEY;
                                if(map.has(str)){
                                    map.set(str,map.get(str) + 1);
                                }
                                else {
                                    map.set(str,0);
                                }
                            }
                            var keys = map.keys();
                            var values = map.values();

                            var key = new Array();
                            var value = new Array();
                            for(var i = 0;i < map.size;i++){
                                key[i] = keys.next().value;
                                value[i] = values.next().value + 1;
                            }
                            for(var i = key.length - 1;i < graph_node.length;i++){
                                key[i] = "z";
                                value[i] = 0;
                            }
                            for (i in res) {
                                for (var k = 0; k < graph_node.length; k++) {
                                    if (res[i].cn == graph_node[k].CN_KEY) {
                                        if (res[i].category == '其他' && !other_data.includes(res[i].cn)) {
                                            for(var aa = 0;aa < key.length;aa++){
                                                if(res[i].cn == key[aa] && !other_data.includes("(" + value[aa] + ")" + key[aa])
                                                    && res[i].cn.indexOf("编码") == -1 && res[i].cn.indexOf("代码") == -1 && res[i].cn.indexOf("编号") == -1){
                                                    other_data.push("(" + value[aa] + ")" + res[i].cn);
                                                }
                                            }
                                        }
                                        if (res[i].category == '案件相关' && !case_data.includes(res[i].cn)) {
                                            for(var aa = 0;aa < key.length;aa++){
                                                if(res[i].cn == key[aa] && !case_data.includes("(" + value[aa] + ")" + key[aa])
                                                    && res[i].cn.indexOf("编码") == -1 && res[i].cn.indexOf("代码") == -1 && res[i].cn.indexOf("编号") == -1){
                                                    case_data.push("(" + value[aa] + ")" + res[i].cn)
                                                }
                                            }
                                        }
                                        if (res[i].category == '人员相关' && !name_data.includes(res[i].cn)) {
                                            for(var aa = 0;aa < key.length;aa++){
                                                if(res[i].cn == key[aa] && !name_data.includes("(" + value[aa] + ")" + res[i].cn)
                                                    && res[i].cn.indexOf("编码") == -1 && res[i].cn.indexOf("代码") == -1 && res[i].cn.indexOf("编号") == -1){
                                                    name_data.push("(" + value[aa] + ")" + res[i].cn)
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                            for(var aa = 0;aa < key.length;aa++){
                                if(!other_data.includes("(" + value[aa] + ")" + key[aa]) && !case_data.includes("(" + value[aa] + ")" + key[aa])
                                    && !name_data.includes("(" + value[aa] + ")" + key[aa])){
                                    if(key[aa] != undefined) {
                                        if(key[aa].indexOf("编码") == -1){
                                            if(key[aa].indexOf("代码") == -1) {
                                                if(key[aa].indexOf("编号") == -1){
                                                    if(key[aa] != "z")  name_data.push("(" + value[aa] + ")" + key[aa])
                                                }

                                            }
                                        }
                                    }

                                }
                            }
                            for(i = 0;i < other_data.length;i++) {
                                if(other_data[i] == undefined) other_data[i] = "";
                                if(case_data[i] == undefined) case_data[i] = "";
                                if(name_data[i] == undefined) name_data[i] = "";
                                data.push({name: name_data[i], case: case_data[i], other: other_data[i]});
                            }
                        }
                        $("#J_TbData").empty();
                        for( var i = 0; i < data.length; i++ ) {
                            //动态创建一个tr行标签,并且转换成jQuery对象
                            var $trTemp = $("<tr></tr>");

                            //往行里面追加 td单元格
                            $trTemp.append("<td onclick = \"table_data_ren(\'" + data[i].name + "\')\">"+ data[i].name +"</td>");
                            $trTemp.append("<td onclick = \"table_data_anjian(\'" + data[i].case + "\')\" >"+ data[i].case +"</td>");
                            $trTemp.append("<td onclick = \"table_data_other(\'" + data[i].other + "\')\">"+ data[i].other +"</td>");
                            // $("#J_TbData").append($trTemp);
                            $trTemp.appendTo("#J_TbData");
                        }
                    }
                });
            });
        } catch (e) {
        }
        return map;
    }
    function table_data_ren(name){
        table_data_ececute(name);
    }
    function table_data_anjian(anjian){
        table_data_ececute(anjian);
    }
    function table_data_other(other){
        table_data_ececute(other);
    }
    function table_data_ececute(name){
        var neo = new Neo(connection);
        try {
            name = name.substring(name.indexOf(")") + 1,name.length);
            var query = "match (n) where n.CN_KEY='"+name+"' and n.caseId='"+jiema()+"' WITH n OPTIONAL MATCH (n)-[r:变化]-(m)  return r,n,m  order by m.创建时间";
            console.log(query);
            if(document.getElementById("tableData")){
                document.getElementById("tableData").setAttribute
                ("style", "margin-left:300px;width:960px");
                document.getElementById("leftContent").setAttribute
                ("style", "position:absolute;width:370px;height: 620px;" +
                    " display: block;border-right: 3px solid lightgray;z-index: 100 ;overflow-y:auto;overflow-x:hidden;");
                document.getElementById("timelineId").innerHTML = "";
            }
            neo.executeQuery(query, {}, function (err, res) {
                res = res || {}
                var graph = res.graph;
                if (graph) {
                    if (graph.nodes) {
                        var str_month = (graph.nodes[0]["创建时间"]).toString().substring(5,7)
                        for(var item = 0;item < graph.nodes.length;item++) {
                            if(graph.nodes[item]["CN_KEY"]==name) {
                                var str_time = (graph.nodes[item]["创建时间"]).toString().substring(0,20)
                                var str_div = graph.nodes[item][graph.nodes[item].label];
                                var name_index_0 = graph.nodes[item]["所属环节"].indexOf(" ",0);
                                var name_index_1 = graph.nodes[item]["所属环节"].substring(name_index_0 + 1,
                                    graph.nodes[item]["所属环节"].length).indexOf(" ",1);
                                s_name = "操作人:" + graph.nodes[item]["所属环节"].substring(name_index_0 + 1,name_index_1 + name_index_0 + 1)
                                s_alter = "";
                                if(str_div == "") str_div = "创建";
                                if(true){
                                    if(item == graph.nodes.length - 1) {
                                        if(graph.nodes.length > 2){
                                            str_month = "12";
                                        }
                                    }
                                    if(str_time.substring(5,7) == str_month){
                                        document.getElementById("timelineId").innerHTML +=
                                            "<li><div class = \"time\">"+str_time+"</div> <div class = \"version\">"+s_alter+"</div> " +
                                            "<div class = \"timeBananName\">"+s_name+"</div> <div class = \"number\"></div>" +
                                            " <div class = \"content\">" +
                                            "<div class = \"divCount\"> "+str_div+"<br /></div></div></li>";
                                    }
                                    if(str_time.substring(5,7) != str_month) {
                                        str_time = str_time.substring(0,5) + "12" + str_time.substring(7,str_time.length);
                                        document.getElementById("timelineId").innerHTML +=
                                            "<li><div class = \"time\">"+str_time+"</div> <div class = \"version\">"+s_alter+"</div> " +
                                            "<div class = \"timeBananName\">"+s_name+"</div> <div class = \"number\"></div>" +
                                            " <div class = \"content\">" +
                                            "<div style = \" background-color: red\" class = \"divCount\"> "+str_div+"<br /></div></div></li>";
                                    }
                                    $(".number").click(function(){
                                        var $divcount = $(this).parent().find(".divCount");
                                        var $divimg = $(this).find(".hand_img");
                                        if ($divcount.is(":hidden")) {
                                            $divcount.slideDown(800);
                                            $divimg.removeClass("Rotation");
                                        }
                                        else
                                        {
                                            $divcount.slideUp(1000);
                                            $divimg.addClass("Rotation");
                                        };
                                    });
                                }
                            }
                        }
                    }
                    var c = $("#graph");
                    c.empty();
                    document.getElementById("anka_table").style.display = "none";
                    neod3.render("graph", c, graph);
                }
            });
        } catch (e) {
            console.log(e);
        }
    }
</script>
<script>

    gantt.config.static_background = true;
    gantt.config.date_format = "%Y-%m-%d %H:%i:%s";
    gantt.config.columns = [
        {name: "text", tree: true, width: 150, resize: true},
        {name: "start_date", align: "center", width: 80, resize: true},
        {name: "duration", width: 50, align: "center"},
        {name: "add", width: 44}
    ];

    var mainGridConfig = {
        scale_height: 0
    };
    var mainTimelineConfig = {
        scale_height: 0
    };

    gantt.config.scale_height = 60;
    gantt.config.layout = {
        css: "gantt_container",
        cols: [
            {
                rows: [
                    {
                        css: "no-scale",
                        cols: [
                            {
                                view: "grid",
                                group: "grids",
                                config: mainGridConfig,
                                scrollY: "scrollVer"
                            },
                            {
                                view: "timeline",
                                config: mainTimelineConfig,
                                scrollX: "scrollHor",
                                scrollY: "scrollVer"
                            }
                        ]
                    },
                    {
                        height: gantt.config.scale_height,
                        cols: [
                            {
                                view: "grid",
                                group: "grids",
                                bind: "task"
                            },
                            {
                                view: "timeline",
                                scrollX: "scrollHor",
                                bind: null,
                                bindLinks: null
                            }
                        ]
                    },
                    {view: "scrollbar", id: "scrollHor"}
                ]
            },
            {view: "scrollbar", id: "scrollVer"}]
    };


    gantt.init("gantt_here");
    gantt.parse(generateData(3, new Date(2017, 11, 15), new Date(2018, 1, 1)));
    document.getElementById("huanjie_detail").onclick = function() {
        if(document.getElementById("gantt_here").style.display == 'none'){
            document.getElementById("gantt_here").style.display = "block";
        }
        else {
            document.getElementById("gantt_here").style.display = "none";
        }
    }
</script>
</body>
</html>